/**
 * Splash page stylsheet
 * @since 1.0
 * @author Calvin deClaisse-Walford
 */

 /**
  * Colors
  */
  $red: #e04646;
  $black: #000000;

/**
 * Load local fonts in
 */
@font-face { font-family: Titillium Web; src: url(../fonts/TitilliumWeb-Regular.ttf); }
@font-face { font-family: Titillium Web; src: url(../fonts/TitilliumWeb-Italic.ttf); font-style: italic; }
@font-face { font-family: Pathway Gothic One; src: url(../fonts/PathwayGothicOne-Regular.ttf); }

/**
 * Body, general resets
 */
* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-webkit-tap-highlight-color: transparent; 
}

body, html { 
	width: 100%; 
	min-height: 100%; 
}

body { 
	background: url(../img/bg_splash.jpg) no-repeat center 10% #fff; 
	background-size: auto 75%;
}

/**
 * Typography
 */
 h1 {
 	font-family: 'Pathway Gothic One', sans-serif;
 	font-size: 48px;
 	line-height: 40px;
 	color: $red;
 	text-transform: uppercase;
 	font-weight: 400;
 	text-align: center;
 	span {
 		font-size: 36px;
 	}
 }

 h2 {
 	font-family: 'Titillium Web', sans-serif;
 	font-size: 19px;
 	line-height: 19px;
 	letter-spacing: .1px;
 	color: $black;
 	text-transform: uppercase;
 	text-align: center;
 	span {
 		font-size: 24px;
 	}
 }

 /**
  * Layout
  */
  .wrap {
  	margin: 0 auto;
  	max-width: 1000px;
  	width: 100%;
  	padding: 80px 0 80px 0;
  	.left {
  		float: left;
  		width: 50%;
  		text-align: center;
  		img {
  			max-width: 100%;
  			width: auto;
  			height: auto;
  			display: inline-block;
  		}
  	}
  	.right {
  		float: left;
  		width: 50%;
  		text-align: center;
  		.logo {
  			margin-bottom: 35px;
  			margin-top: 50px;
  		}
  		h1 {
  			margin-bottom: 20px;
  		}
  		h2 {
  			margin-bottom: 60px;
  		}
  		.btn.appstore {
  			margin-bottom: 18px;
  		}
  	}
  	.clear {
  		clear: both;
  	}
  }

  /**
   * Buttons
   */
   .btn {
   	opacity: 0.7;
   	transition: opacity .2s linear;
   	&:hover {
   		opacity: 1;
   	}
   }

   /**
    * Responsive
    */
    @media only screen and (max-width: 1023px){
    	.wrap {
    		.left {
    			padding: 0 0 0 10%;
    		}
    		.right {
    			padding: 0 10% 0 0;
    			.logo {
    				margin-bottom: 30px;
    			}
    			h1 {
    				margin-bottom: 15px;
    				font-size: 36px;
    				span {
    					font-size: 32px;
    				}
    			}
    			h2 {
    				margin-bottom: 30px;
    				font-size: 14px;
    				span {
    					font-size: 18px;
    				}
    			}
    			.btn {
    				img {
    					width: 150px;
    					height: auto;
    				}
    			}
    		}
    	}
    }

    @media only screen and (max-width: 800px){
    	.wrap {
		  	.right {
		  		.logo {
		  			margin-top: 0;
		  		}
		  	}
	  	}
    }

    @media only screen and (max-width: 600px){
    	body {
    		margin-top: 0 !important;
    	}
    	.wrap {
    		margin-top: 0 !important;
    		padding: 20px 0;
    		.left, .right {
    			float: none;
    			width: 100%;
    			padding: 0 10%;
    		}
    	}
    }