/* BODY, HEADER, WRAPPER */

body.login              {padding-top:20px;background:#f0f0f0;}
#wrapper                {padding-left: 250px;transition: all 0.4s ease 0s;margin-top: 65px;}

.panel-primary>.panel-heading, .btn-primary{background: #e14541;border-color: #e14541;}
.btn-primary:hover {background: #e14541; border-color: #e14541;}
.panel {border-color: #e14541;}
.form-control:focus {border-color: #e14541;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);}

/* SIDEBAR */

#sidebar-wrapper        {top:65px;margin-left: -250px;left: 250px;width: 250px;background: #f0f0f0;position: fixed;height: 100%;overflow-y: auto; z-index: 1000; transition: all 0.4s ease 0s; border-right: 1px solid #ccc;}
    .sidebar-nav        { position: absolute; top: 0; width: 250px; list-style: none; margin: 0; padding: 0;}
        .sidebar-nav li { line-height: 40px; text-indent: 20px;}
        .sidebar-nav li a { color: #999999; display: block; text-decoration: none;padding-left: 10px;padding-right: 10px;margin-left: -10px;margin-right: -10px;}
        .sidebar-nav li a.active { background: #e0e0e0;}
        .sidebar-nav li a:hover { background: #e0e0e0;text-decoration: none;}
        .sidebar-nav li a:active, .sidebar-nav li a:focus {text-decoration: none;}
            .sidebar-nav > .sidebar-brand {height: 65px;line-height: 60px;font-size: 18px;}
            .sidebar-nav > .sidebar-brand a {color: #999999;}
            .sidebar-nav > .sidebar-brand a:hover { color: #000; background: none;}

/* CONTENT */



#page-content-wrapper   { width: 100%;}
        .content-header { background-color: #e14541; height: 65px; line-height: 65px; box-shadow: 0 0 1px 1px rgba(0,0,0,.4); z-index: 1001; position: fixed; top: 0; left: 0; width: 100%;}
        .content-header .btn-default {font-size: 10px;padding: 2px 8px;}
        .content-header h3 {font-size: 14px; margin: 0; line-height: 65px; padding-left: 10px; float: left; text-align: left; color: #fff;}
        .content-header #logout {font-size: 10px; float:right; padding-right:10px;color:#fff;}
#menu-toggle            {display: none;}
.inset                  { padding: 20px;}

td                      {max-width: 32%;width: 32%;display: inline-block;overflow: hidden;text-overflow: ellipsis; word-break: break-word;}

#toolbar {border: 1px solid #CCC;border-radius: 4px;}
#editor {min-height: 300px; overflow: auto;}

/* CLASS DECLARED STYLING */

select.tall             {min-height:200px;}

/* RESPONSIVE */

@media (max-width:767px) {
    #wrapper            { padding-left: 0;}
    #sidebar-wrapper    { left: 0;}
    #wrapper.active #sidebar-wrapper { left: 250px; width: 250px; transition: all 0.4s ease 0s;}
    #menu-toggle        { display: inline-block; margin-left: 10px; float: left; margin-top: 17px;}
    .inset              {padding: 15px;}
}

@media (max-height: 480px) {
    #wrapper            {margin-top: 33px;}
#sidebar-wrapper        {top:33px;}
    .content-header     {height: 33px;line-height: 33px;}
    .content-header h3  {font-size: 14px; line-height: 33px;}
    .content-header .btn-default {margin-top: 3px;}
    #menu-toggle        {margin-top: 4px;padding: 0px 6px 2px 6px;}
        #menu-toggle i  {font-size: 10px;}
}

@media (max-width: 420px) {
    .content-header i.loggedin   {display:none;}
}
