/**/
 /** animations css stylesheet*/
 /**/

/* cross fading between routes with ngView */

/*.item.ng-enter {*/
    /*-webkit-animation: 0.8s fade-in;*/
    /*-moz-animation: 0.8s fade-in;*/
    /*-o-animation: 0.8s fade-in;*/
    /*animation: 0.8s fade-in;*/
    /*-webkit-animation-delay: 0.1s;*/
    /*animation-delay: 0.1s;*/
/*}*/

/*.item.ng-move {*/
    /*-webkit-transition: all 0.2s ease;*/
    /*-moz-transition: all 0.2s ease;*/
    /*-ms-transition: all 0.2s ease;*/
    /*-o-transition: all 0.2s ease;*/
    /*transition: all 0.2s ease;*/
/*}*/

/*.container {*/
  /*position: relative;*/
/*}*/

/*.viewWrapper.ng-enter,*/
/*.viewWrapper.ng-leave {*/
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  /*right: 0;*/
/*}*/

/*.viewWrapper.ng-enter {*/
  /*-webkit-animation: 0.5s fade-in;*/
  /*-moz-animation: 0.5s fade-in;*/
  /*-o-animation: 0.5s fade-in;*/
  /*animation: 0.5s fade-in;*/
  /*z-index: 100;*/
/*}*/

/*.viewWrapper.ng-leave {*/
  /*-webkit-animation: 0.5s fade-out;*/
  /*-moz-animation: 0.5s fade-out;*/
  /*-o-animation: 0.5s fade-out;*/
  /*animation: 0.5s fade-out;*/
  /*z-index: 99;*/
/*}*/

/*@keyframes fade-in {*/
  /*from { opacity: 0; }*/
  /*to { opacity: 1; }*/
/*}*/
/*@-moz-keyframes fade-in {*/
  /*from { opacity: 0; }*/
  /*to { opacity: 1; }*/
/*}*/
/*@-webkit-keyframes fade-in {*/
  /*from { opacity: 0; }*/
  /*to { opacity: 1; }*/
/*}*/

/*@keyframes fade-out {*/
  /*from { opacity: 1; }*/
  /*to { opacity: 0; }*/
/*}*/
/*@-moz-keyframes fade-out {*/
  /*from { opacity: 1; }*/
  /*to { opacity: 0; }*/
/*}*/
/*@-webkit-keyframes fade-out {*/
  /*from { opacity: 1; }*/
  /*to { opacity: 0; }*/
/*}*/

