@font-face { font-family: Titillium Web; src: url(../fonts/TitilliumWeb-Regular.ttf); }
@font-face { font-family: Titillium Web; src: url(../fonts/TitilliumWeb-Italic.ttf); font-style: italic; }
@font-face { font-family: Pathway Gothic One; src: url(../fonts/PathwayGothicOne-Regular.ttf); }
/*------BODY, WRAPPER------ */
* { margin: 0; padding: 0; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-tap-highlight-color: transparent; }

body, html { width: 100%; min-height: 100%; position: absolute; top: 0; left: 0; }

body { background: url(../img/textured_bg.png) repeat-x left top #faf4e8; }

::-webkit-scrollbar { width: 0 !important; }

a { text-decoration: none; }

b { text-shadow: 0px 0px 0px black; }

.xs-break { display: none; }

.clear { clear: both; width: 0px; height: 0px; }

.initialLoad { position: fixed; z-index: 9999999; width: 100%; height: 100%; left: 0; top: 0; background: #e14541; }
.initialLoad .text { position: absolute; left: 50%; top: 50%; width: 200px; margin-left: -100px; text-align: center; margin-top: -43px; }
.initialLoad .logo { width: 200px; height: auto; margin: 0 auto; }

.spinner { width: 30px; height: 30px; background-color: white; position: absolute; top: 50%; left: 50%; margin-top: 15px; margin-left: -15px; -webkit-animation: rotateplane 1.2s infinite ease-in-out; animation: rotateplane 1.2s infinite ease-in-out; }

@-webkit-keyframes rotateplane { 0% { -webkit-transform: perspective(120px); }
  50% { -webkit-transform: perspective(120px) rotateY(180deg); }
  100% { -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }
@keyframes rotateplane { 0% { transform: perspective(120px) rotateX(0deg) rotateY(0deg); -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% { transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% { transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }
#wrapper { margin: 0 auto; padding-top: 120px; position: relative; /*in-height: 904px */ height: 100%; }

.blur { position: fixed; top: 0; z-index: 9; background: #3f5366; filter: alpha(opacity=80); opacity: 0.8; left: 0; width: 100%; height: 100%; display: none; }

.blur.active { display: block; }

.table { display: table; }

.cell { vertical-align: middle; display: table-cell; }

/*------HEADER, NAV------ */
.navWrapper { background: #e14541; width: 100%; height: 120px; position: fixed; z-index: 11; top: 0; left: 0; font-weight: 300; }
.navWrapper .inner { padding: 30px; }
.navWrapper .inner .logo { margin-top: 7px; width: 168px; height: auto; }
.navWrapper .inner #menuToggle { float: right; margin-top: 7px; color: white; text-decoration: none; text-transform: uppercase; font-family: Pathway Gothic One, sans-serif; font-size: 20px; display: block; letter-spacing: 0.03em; line-height: 44px; }
.navWrapper .inner #menuToggle .fa-bars { font-size: 36px; vertical-align: middle; margin: -1px 0 0 12px; }
.navWrapper .inner .mainMenu { position: fixed; right: -320px; top: 0; width: 320px; background: #e14541; -webkit-transform: translateZ(0); -moz-transform: translateZ(0); -ms-transform: translateZ(0); -o-transform: translateZ(0); transform: translateZ(0); -webkit-transition: all 500ms ease; -moz-transition: all 500ms ease; -ms-transition: all 500ms ease; -o-transition: all 500ms ease; transition: all 500ms ease; z-index: 101; }
.navWrapper .inner .mainMenu .closeButton { display: none; cursor: pointer; }
.navWrapper .inner .mainMenu .scroller { overflow: scroll; -webkit-overflow-scrolling: touch; position: absolute; top: 0; right: 0; width: 100%; height: 100%; }
.navWrapper .inner .mainMenu.active { right: 0; }
.navWrapper .inner .mainMenu.active .closeButton { display: block; position: absolute; top: 30px; left: -64px; }
.navWrapper .inner .menu { list-style-type: none; width: 100%; display: block; position: relative; overflow: scroll; }
.navWrapper .inner .menu .menuTitle { color: #3f5366; height: 100px; line-height: 100px; text-transform: uppercase; font-family: Pathway Gothic One, sans-serif; font-size: 32px; border-bottom: 1px solid #cc3e3b; padding-left: 45px; display: none; }
.navWrapper .inner .menu .menuTitle.active { display: block; }
.navWrapper .inner .menu .menuSubTitle { text-align: right; font-style: normal; padding-right: 40px; display: none; color: #3f5366; height: 100px; line-height: 100px; text-transform: uppercase; font-family: Pathway Gothic One, sans-serif; font-size: 32px; border-bottom: 1px solid #cc3e3b; padding-right: 45px; padding-left: 45px; cursor: pointer; }
.navWrapper .inner .menu .menuSubTitle .fa { float: left; margin-top: 34px; margin-left: 0; color: #3f5366; font-size: 18px; height: 32px; width: 32px; border-radius: 100%; -webkit-border-radius: 100%; border: 3px solid #3f5366; text-align: center; line-height: 26px; }
.navWrapper .inner .menu .menuSubTitle.active { display: block; }
.navWrapper .inner .menu .menuFooter { padding-left: 45px; padding-right: 45px; margin-top: 60px; margin-bottom: 20px; }
.navWrapper .inner .menu .menuFooter .copyright { float: left; font-family: Titillium Web, sans-serif; color: #3f5366; font-size: 11px; width: 135px; }
.navWrapper .inner .menu .menuFooter .copyright .symbol { font-family: sans-serif; }
.navWrapper .inner .menu .menuFooter .srg { float: right; margin-top: 6px; }
.navWrapper .inner .menu .menuItem { color: white; display: block; width: 100%; padding-left: 45px; font-family: Titillium Web, sans-serif; font-size: 21px; height: 92px; line-height: 92px; font-style: italic; padding-right: 40px; cursor: pointer; border-bottom: 1px solid #cc3e3b;text-overflow: ellipsis;overflow: hidden; }
.navWrapper .inner .menu .menuItem a { color: white; white-space: nowrap; }
.navWrapper .inner .menu .menuItem .fa { float: right; color: #3f5366; font-size: 18px; height: 32px; width: 32px; border-radius: 100%; -webkit-border-radius: 100%; border: 3px solid #3f5366; text-align: center; line-height: 26px; margin-top: 30px; -webkit-transform: translateZ(0); -moz-transform: translateZ(0); -ms-transform: translateZ(0); -o-transform: translateZ(0); transform: translateZ(0); -webkit-transition: all 0.1s ease; -moz-transition: all 0.1s ease; -ms-transition: all 0.1s ease; -o-transition: all 0.1s ease; transition: all 0.1s ease; }
.navWrapper .inner .menu .menuItem .fa.active { -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); transform: rotate(90deg); }
.navWrapper .inner .menu .menuItem .menu { -webkit-transform: translateZ(0); -moz-transform: translateZ(0); -ms-transform: translateZ(0); -o-transform: translateZ(0); transform: translateZ(0); -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -ms-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; height: 0; background: #e14541; margin-left: -45px; margin-right: -45px; width: auto; overflow: hidden; max-width: 338px; }
.navWrapper .inner .menu .menuItem .menu.active { height: auto; overflow: visible; }
.navWrapper .inner .menu .menuItem.active { border-bottom: 1px solid #cc3e3b; height: auto; }
.navWrapper .inner .menu .menuItem.active .menuItem { border-top: 1px solid #cc3e3b; padding-left: 90px; width: 100%; max-width: 100%; border-bottom: none; }

/*------HOME------ */
html.homeBody { background: #faf4e8; }

.home { background: url("../img/home_bg.png") no-repeat center top; background-size: cover; position: relative; height: 100%; }
.home .centerTitle { padding-top: 125px; width: 100%; text-align: center; max-width: 768px; margin: 0 auto; }
.home .centerTitle h1, .home .centerTitle h2 { color: #e14541; text-transform: uppercase; }
.home .centerTitle h1 { font-family: Pathway Gothic One, sans-serif; font-size: 72px; }
.home .centerTitle h1 small { font-size: 48px; }
.home .centerTitle h2 { font-family: Titillium Web, sans-serif; font-size: 24px; }
.home .centerTitle .buttons { margin-top: 10%; width: 100%; }
.home .centerTitle .buttons .button { width: 160px; height: 160px; display: inline-block; line-height: 135px; border: 8px solid #3f5366; border-radius: 100%; -webkit-border-radius: 100%; margin: 25px 30px 25px 30px; -webkit-transform: translateZ(0); -moz-transform: translateZ(0); -ms-transform: translateZ(0); -o-transform: translateZ(0); transform: translateZ(0); -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -ms-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; }
.home .centerTitle .buttons .button span { text-transform: uppercase; font-family: Titillium Web, sans-serif; font-size: 24px; text-align: center; font-style: italic; color: #3f5366; line-height: 26px; display: inline-block; vertical-align: middle; }
.home .centerTitle .buttons .button:hover, .home .centerTitle .buttons .button:active { background: #e14541; }
.home .centerTitle .buttons .button:hover span, .home .centerTitle .buttons .button:active span { color: white; }

.credits { font-family: Titillium Web, sans-serif; font-size: 14px; text-align: center; color: #3f5366; width: 100%; padding-bottom: 20px; font-style: italic; height: 40px; margin-top: 40px; }
    .credits a {color:#3F5366;}

/*------INNER PAGES------ */
.row { width: 100%; }

.col { float: left; padding-right: 2%; }

.col.third { width: 35%; }

.col.two-thirds { width: 65%; padding-left: 1%; }
.col.two-thirds .col.two-thirds { padding-left: 0; border: none !important; }

.col.half { width: 50%; }

hr { margin-top: 35px; margin-bottom: 40px; border-color: rgba(63, 83, 102, 0.2); border-style: solid; }

.topMargin { margin-top: 4.3em; }

.scrollButton { cursor: pointer; }

.scrollButton.left { float: left !important; }
.scrollButton.left .fa { margin: 0 10px 0 0 !important; }

.infoLine.touch { display: none; }

.infoLine { font-family: Titillium Web, sans-serif; font-style: italic; font-size: 14px; color: #3f5366; display: block; }
.infoLine a { color: #3f5366; }
.infoLine .infoName { color: #5f7c99; }
.infoLine ul { list-style-type: square; margin-left: 25px; }
.infoLine ul li { max-width: 90%; position: relative; word-break: break-word; }
.infoLine ul.halfLineItems li { width: 50%; float: left; }
.infoLine ul.rowLineItems { max-width: 100%; width: 100%; margin-top: 1em; margin-bottom: 0.5em; }
.infoLine ul.rowLineItems li { padding: 0 1%; width: 24%; text-align: center; display: inline-block; }
.infoLine ul.rowLineItems li .underlined { display: block; width: 95%; margin-bottom: 2px; padding-bottom: 2px; border-bottom: 1px solid rgba(63, 83, 102, 0.2); }
.infoLine ul.rowLineItems li:before { content: ""; }
.infoLine .half { width: 50%; float: left; }
.infoLine .small { font-size: 12px; }

.page { padding-top: 40px; text-align: center; max-width: 960px; margin: 0 auto; }
.page .header { margin-bottom: 30px; }
.page .header .pageTitle { font-family: Pathway Gothic One, sans-serif; font-size: 48px; text-transform: uppercase; color: #3f5366; }
.page .header .instruction { font-family: Titillium Web, sans-serif; font-size: 12px; color: #3f5366; font-style: italic; line-height: 18px; margin-top: 2px; }
.page .header .searchBox { width: 180px; height: 40px; margin: 35px auto 0 auto; background: rgba(63, 83, 102, 0.2); line-height: 40px; }
.page .header .searchBox .fa { cursor:pointer; color: #3f5366; filter: alpha(opacity=80); opacity: 0.8; }
.page .header .searchBox .search { -webkit-appearance: none; border: none; background: none; height: 40px; float: left; width: 140px; box-sizing: border-box; -moz-box-sizing: border-box; padding-left: 15px; color: #3f5366; }
.page .header .searchBox .search:focus { outline: none; }
.page .header .searchButton {width: 55px;height: 55px;display: inline-block;box-sizing: border-box;border: 3px solid #3F5366;border-radius: 100%;margin: 0px;line-height: 51px;transform: translateZ(0px);transition: all 0.2s ease-in-out 0s;font-family: Titillium Web,sans-serif;color: #3F5366;text-transform: uppercase;font-size: 12px;font-style: italic;}
.page .header .houses { text-align: center; margin: 40px auto 40px auto; }
.page .header .houses .item { width: 95px; height: 95px; display: inline-block; box-sizing: border-box; -moz-box-sizing: border-box; border: 6px solid #3f5366; border-radius: 100%; -webkit-border-radius: 100%; margin: 20px; line-height: 105px; -webkit-transform: translateZ(0); -moz-transform: translateZ(0); -ms-transform: translateZ(0); -o-transform: translateZ(0); transform: translateZ(0); -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.page .header .houses .item span { font-family: Titillium Web, sans-serif; color: #3f5366; text-transform: uppercase; font-size: 17px; line-height: 18px; text-align: center; display: inline-block; font-style: italic; }
.page .header .houses.search .item {border-width: 4px;}
.page .header .houses.search .item span {font-size: 14px;}
.page .header .houses .item:hover, .page .header .houses .item:active, .page .header .houses .item.active { background: #3f5366; }
.page .header .houses .item:hover span, .page .header .houses .item:active span, .page .header .houses .item.active span { color: white; }
.page .header .lastNames { margin: 30px auto 60px auto; height: 24px; text-align: center; }
.page .header .lastNames .item { font-family: Pathway Gothic One, sans-serif; font-size: 18px; color: #3f5366; text-transform: uppercase; padding: 12px; margin: 0 -4px; border-radius: 100%; -webkit-border-radius: 100%; box-sizing: border-box; -moz-box-sizing: border-box; width: 50px; height: 50px; border: 2px solid transparent; -webkit-transform: translateZ(0); -moz-transform: translateZ(0); -ms-transform: translateZ(0); -o-transform: translateZ(0); transform: translateZ(0); -webkit-transition: border 0.2s ease; -moz-transition: border 0.2s ease; -ms-transition: border 0.2s ease; -o-transition: border 0.2s ease; transition: border 0.2s ease; }
.page .header .lastNames .item:hover, .page .header .lastNames .item:active, .page .header .lastNames .item.active { border: 2px solid rgba(63, 83, 102, 0.2); }
.page .header .lastNames .bar { display: inline-block; width: 30px; height: 1px; background: rgba(63, 83, 102, 0.2); vertical-align: middle; margin-top: -3px; }
.page .listWrap { max-width: 800px; margin: 0 auto; }
.page .listWrap .item { width: 50%; float: left; box-sizing: border-box; -moz-box-sizing: border-box; border-top: 1px solid rgba(63, 83, 102, 0.2); padding: 25px; -webkit-transform: translateZ(0); -moz-transform: translateZ(0); -ms-transform: translateZ(0); -o-transform: translateZ(0); transform: translateZ(0); -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -ms-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; }
.page .listWrap .item a { display: table; line-height: 98px; height: 98px; text-align: left; }
.page .listWrap .item .thumb { border: 6px solid #3f5366; margin-right: 30px; float: left; width: 98px; height: 98px; }
.page .listWrap .item .cell { display: table-cell; vertical-align: middle; }
.page .listWrap .item span { font-family: Titillium Web, sans-serif; font-size: 18px; color: #3f5366; font-style: italic; line-height: 18px; display: block; padding-left: 5px; }
.page .listWrap .item span.name { padding-top: 5%; text-align: left; }
.page .listWrap .item span.info { font-size: 14px; color: #5f7c99; padding-top: 5%; text-align: left; }
.page .listWrap .item:hover { background: rgba(63, 83, 102, 0.2); }

.page.page_custom {padding: 1em;}
.page.page_custom h1.pageTitle {text-align:left;}
.page.page_custom .infoP{text-align: left;font-family: Titillium Web,sans-serif;}
.page.page_custom .infoP p {margin-bottom: 1em;}
.page.page_custom .infoP ul {padding-left: 1em;margin-bottom: 1em;}
.page.page_custom .infoP ol {padding-left: 1em;margin-bottom: 1em;}
.page.page_custom .infoP img {max-width: 100%; height: auto;margin-bottom: 1em;}


.page.cand { padding: 40px 60px 0 60px; text-align: left; }
.page.cand .profile { width: 196px; height: 196px; border: 10px solid #3f5366; }
.page.cand .districtTitle { font-family: Titillium Web, sans-serif; font-size: 18px; font-style: italic; color: #5f7c99; margin-bottom: 1em; }
.page.cand .candTitle { font-family: Pathway Gothic One, sans-serif; font-size: 48px; text-transform: uppercase; color: #3f5366; }
.page.cand .candSubTitle { font-family: Titillium Web, sans-serif; font-size: 18px; font-style: italic; color: #3f5366; margin-bottom: 1em; }
.page.cand .social { font-family: Titillium Web, sans-serif; font-size: 14px; font-style: italic; color: #3f5366; white-space: nowrap; display: block; }
.page.cand .social a { color: #3f5366; }
.page.cand .social .fa { width: 43px; height: 43px; padding-top: 8px; border-radius: 100%; -webkit-border-radius: 100%; border: 3px solid #3f5366; color: #3f5366; font-size: 22px; text-align: center; margin: 0 10px 16px 0; -webkit-transform: translateZ(0); -moz-transform: translateZ(0); -ms-transform: translateZ(0); -o-transform: translateZ(0); transform: translateZ(0); -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -ms-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; }
.page.cand .social .fa:hover { color: white; background: #3f5366; }
.page.cand .links { text-align: center; }
.page.cand .links .item { margin: 0 4% 25px 4%; display: inline-block; width: 24%; vertical-align: top; text-align: center; font-family: Titillium Web, sans-serif; font-size: 12px; font-style: italic; color: #5f7c99; }
.page.cand .links .item a { color: #5f7c99; }
.page.cand .links .item .fa { width: 100px; height: 100px; border: 6px solid #3f5366; border-radius: 100%; -webkit-border-radius: 100%; color: #3f5366; display: block; margin: 0 auto; line-height: 88px; font-size: 50px; margin-bottom: 10px; -webkit-transform: translateZ(0); -moz-transform: translateZ(0); -ms-transform: translateZ(0); -o-transform: translateZ(0); transform: translateZ(0); -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -ms-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; display: block; }
.page.cand .links .item.first { margin-left: 2%; }
.page.cand .links .item.last { margin-right: 2%; }
.page.cand .links .item:hover .fa { background: #3f5366; color: white; }

.page.contact { padding: 40px 60px 0 60px; }
.page.contact .header { margin-bottom: 40px; }
.page.contact .title { color: #3f5366; font-family: Pathway Gothic One, sans-serif; font-size: 32px; text-transform: uppercase; text-align: center; margin-bottom: 10px; }
.page.contact .subTitle { font-family: Titillium Web, sans-serif; font-size: 12px; font-style: italic; color: #5f7c99; }
.page.contact .col { text-align: left; }
.page.contact .infoLine { font-size: 18px; max-width: 90%; }
.page.contact .infoLine .infoName { margin-bottom: 0.5em; display: inline-block; }
.page.contact .infoP p { text-align: left; font-family: Titillium Web, sans-serif; font-style: italic; font-size: 14px; color: #3f5366; display: block; margin-top: 1em; }
.page.contact .social { font-family: Titillium Web, sans-serif; font-size: 14px; font-style: italic; color: #3f5366; line-height: 88px; margin-bottom: 10px; }
.page.contact .social a { color: #3f5366; }
.page.contact .social .fa { width: 102px; height: 102px; font-size: 31px; border: 6px solid #3f5366; color: #3f5366; margin-right: 20px; border-radius: 100%; -webkit-border-radius: 100%; text-align: center; line-height: 90px; margin-top: 20px; -webkit-transform: translateZ(0); -moz-transform: translateZ(0); -ms-transform: translateZ(0); -o-transform: translateZ(0); transform: translateZ(0); -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -ms-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; }
.page.contact .social .fa:hover { color: white; background: #3f5366; }
.page.contact .contactForm .error { color: #e14541; font-family: Pathway Gothic One, sans-serif; font-size: 18px; text-align: center; margin-bottom: 10px; }
.page.contact .contactForm .col { padding: 0; }
.page.contact .contactForm .col.half { padding-right: 1.5%; }
.page.contact .contactForm .col.half.last { padding-right: 0; padding-left: 1.5%; }
.page.contact .contactForm input { -webkit-appearance: none; background: rgba(63, 83, 102, 0.2); border: none; padding-left: 20px; padding-top: 3px; padding-bottom: 3px; height: 40px; line-height: 34px; display: inline-block; margin-bottom: 22px; color: #3f5366; font-family: Titillium Web, sans-serif; font-size: 18px; font-style: italic; border-radius: 0; -webkit-border-radius: 0; }
.page.contact .contactForm input::-webkit-input-placeholder { color: #3f5366; font-family: Titillium Web, sans-serif; font-size: 18px; font-style: italic; filter: alpha(opacity=80); opacity: 0.8; }
.page.contact .contactForm input:-moz-placeholder { color: #3f5366; font-family: Titillium Web, sans-serif; font-size: 18px; font-style: italic; filter: alpha(opacity=80); opacity: 0.8; }
.page.contact .contactForm input::-moz-placeholder { color: #3f5366; font-family: Titillium Web, sans-serif; font-size: 18px; font-style: italic; filter: alpha(opacity=80); opacity: 0.8; }
.page.contact .contactForm input:-ms-input-placeholder { color: #3f5366; font-family: Titillium Web, sans-serif; font-size: 18px; font-style: italic; filter: alpha(opacity=80); opacity: 0.8; }
.page.contact .contactForm input.full { width: 100%; }
.page.contact .contactForm input.two-thirds { width: 60%; float: left; }
.page.contact .contactForm input.one-third { width: 34%; margin-left: 6%; float: left; }
.page.contact .contactForm input.submitRound { -webkit-appearance: none; border: none; background: none; padding: 0; width: 66%; white-space: pre-line; line-height: 18px; display: block; margin: 27px auto; cursor: pointer; }
.page.contact .contactForm input:focus { outline: none; }
.page.contact .submitcircle { width: 102px; height: 102px; border: 6px solid #3f5366; line-height: 88px; border-radius: 100%; -webkit-border-radius: 100%; margin: 0 auto 20px auto; color: #3f5366; font-family: Pathway Gothic One, sans-serif; }
.page.contact .submitcircle span { line-height: 14px; display: block; vertical-align: middle; margin-top: 31px; }
.page.contact .submitcircle:hover { background: #3f5366; color: white; -webkit-transform: translateZ(0); -moz-transform: translateZ(0); -ms-transform: translateZ(0); -o-transform: translateZ(0); transform: translateZ(0); -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -ms-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; }
.page.contact .submitcircle:hover .submitRound { color: white; }
.page.contact .links { text-align: center; }
.page.contact .links .item { margin: 0 4% 25px 4%; display: inline-block; width: 24%; vertical-align: top; text-align: center; font-family: Titillium Web, sans-serif; font-size: 12px; font-style: italic; color: #5f7c99; }
.page.contact .links .item a { color: #5f7c99; }
.page.contact .links .item .fa { width: 100px; height: 100px; border: 6px solid #3f5366; border-radius: 100%; -webkit-border-radius: 100%; color: #3f5366; display: block; margin: 0 auto; line-height: 88px; font-size: 50px; margin-bottom: 10px; -webkit-transform: translateZ(0); -moz-transform: translateZ(0); -ms-transform: translateZ(0); -o-transform: translateZ(0); transform: translateZ(0); -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -ms-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; }
.page.contact .links .item.first { margin-left: 2%; }
.page.contact .links .item.last { margin-right: 2%; }
.page.contact .links .item:hover .fa { background: #3f5366; color: white; }

.page.dist { padding: 40px 60px 0 60px; text-align: left; }
.page.dist .profile { width: 196px; height: 196px; border: 10px solid #3f5366; cursor: pointer; }
.page.dist .profileFull {max-height: 96%; width: 65%; height: auto; position: fixed; top: 2%; left: 17%; display: none; border: 10px solid #3f5366; z-index: 99; max-width: 960px; overflow:scroll; background: #fff; }
.page.dist .profileFull img {width: 100%; height: auto; display: block;}
.page.dist .profileSub { font-family: Titillium Web, sans-serif; font-size: 12px; font-style: italic; color: #5f7c99; text-align: center; width: 196px; }
.page.dist .distTitle { font-family: Pathway Gothic One, sans-serif; font-size: 48px; text-transform: uppercase; color: #3f5366; }
.page.dist .candTitle { font-family: Pathway Gothic One, sans-serif; font-size: 32px; text-transform: uppercase; color: #3f5366; margin-bottom: 25px; }
.page.dist .candTitle .small { font-family: Titillium Web, sans-serif; font-size: 12px; font-style: italic; text-transform: none; color: #5f7c99; }
.page.dist .candInfo { cursor: pointer; }
.page.dist .candInfo .candProfile { width: 44px; height: 44px; border: 3px solid #3f5366; float: left; margin-right: 15px; }
.page.dist .candInfo .details { margin-bottom: 20px; }
.page.dist .candInfo .details span { font-family: Titillium Web, sans-serif; color: #5f7c99; font-size: 14px; font-style: italic; display: inline; text-transform: capitalize; }
.page.dist .candInfo .details span.row { display: block; line-height: 19px; }
.page.dist .candInfo .details span.third { margin-right: 10px; display: inline; }
.page.dist .candInfo .details span.two-thirds { display: inline; }
.page.dist .candInfo .details .name { color: #3f5366; font-size: 21px; display: inline-block; margin-right: 10px; padding-top: 3px; }
.page.dist .meter { display: block; position: relative; text-align: center; float: right; max-width: 160px; }
.page.dist .meter .semiCircle { display: block; background: url("../img/meter.png") no-repeat center; background-size: 160px 80px; width: 160px; height: 80px; margin: 0 auto; }
.page.dist .meter .needle { display: block; background: url("../img/needle.png") no-repeat center; background-size: 18px 44px; width: 18px; height: 44px; position: absolute; top: 45px; left: 50%; margin-left: -9px; -webkit-transform: translateZ(0); -moz-transform: translateZ(0); -ms-transform: translateZ(0); -o-transform: translateZ(0); transform: translateZ(0); -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -ms-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; -webkit-transform-origin: 9px 34px; -moz-transform-origin: 9px 34px; transform-origin: 9px 34px; -webkit-transform: rotate(-41deg); -moz-transform: rotate(-41deg); transform: rotate(-41deg); }
.page.dist .meter .meterTitle { display: block; font-family: Titillium Web, sans-serif; font-size: 18px; font-style: italic; color: #684f5d; margin-top: 10px; }
.page.dist .meter .meterTable { display: block; margin-top: 10px; width: 110%; margin-left: -5%; }
.page.dist .meter .meterTable .item { display: block; width: 25%; float: left; text-align: center; font-family: Titillium Web, sans-serif; font-size: 13px; font-style: italic; color: #3f5366; }
.page.dist .meter .meterTable .item .title { display: block; }
.page.dist .meter .meterTable .item .data { display: block; }
.page.dist .sectionTitle { font-family: Pathway Gothic One, sans-serif; font-size: 32px; color: #3f5366; text-transform: uppercase; text-align: center; margin-bottom: 35px; }
.page.dist .row.charts { text-align: center; }
.page.dist .profileChart { width: 160px; display: inline-block; position: relative; vertical-align: top; }
.page.dist .profileChart .chart { width: 100%; z-index: 2; }
.page.dist .profileChart .title { font-family: Titillium Web, sans-serif; font-size: 18px; font-style: italic; color: #3f5366; width: 100%; text-align: center; margin-top: -102px; margin-bottom: 90px; line-height: 19px; }
.page.dist .profileChart .table { margin: 30px auto 0 auto; width: 100px; text-align: right; }
.page.dist .profileChart .table .row { font-family: Titillium Web, sans-serif; font-size: 13px; font-style: italic; color: #3f5366; display: block; }
.page.dist .profileChart .table .row .name { float: left; }
.page.dist .profileChart .table .row .r { color: #5f7c99; }
.page.dist .profileChart .table .row .u { color: #2f3d4c; }
.page.dist .profileChart .table .row .l { color: #7ea5cc; }
.page.dist .voterAff { text-align: left; margin-left: 5px; margin-right: 20px; }
.page.dist .voterRace { text-align: center; margin: 0 20px; }
.page.dist .voterGend { text-align: right; margin-right: 5px; margin-left: 20px; }
.page.dist .swipe { max-width: 100%; overflow: scroll; -webkit-box-shadow: -11px 0px 8px -9px rgba(0, 0, 0, 0.1) inset; -moz-box-shadow: -11px 0px 8px -9px rgba(0, 0, 0, 0.1) inset; box-shadow: -11px 0px 8px -9px rgba(0, 0, 0, 0.1) inset; margin-bottom: 10px; -webkit-overflow-scrolling: touch; }
.page.dist .swipe.scrolled { -webkit-transform: translateZ(0); -moz-transform: translateZ(0); -ms-transform: translateZ(0); -o-transform: translateZ(0); transform: translateZ(0); -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -ms-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; -webkit-box-shadow: -11px 0px 8px -9px rgba(0, 0, 0, 0.1) inset, 11px 0px 8px -9px rgba(0, 0, 0, 0.1) inset; -moz-box-shadow: -11px 0px 8px -9px rgba(0, 0, 0, 0.1) inset, 11px 0px 8px -9px rgba(0, 0, 0, 0.1) inset; box-shadow: -11px 0px 8px -9px rgba(0, 0, 0, 0.1) inset, 11px 0px 8px -9px rgba(0, 0, 0, 0.1) inset; }
.page.dist .electionContainer { position: relative; max-width: 100%; }
.page.dist .demoContainer { position: relative; max-width: 100%; }
.page.dist .demoContainer .titlesTable { margin-top: 20px; }
.page.dist .titlesTable { float: left; margin-top: 34px; border-collapse: collapse; }
.page.dist .titlesTable tr td { font-family: Titillium Web, sans-serif; font-size: 14px; color: #3f5366; text-align: center; line-height: 14px; padding: 10px 20px; min-width: 40px; font-style: italic; }
.page.dist .titlesTable tr:nth-child(even) { background: rgba(63, 83, 102, 0.1); }
.page.dist .electionTable { border-collapse: collapse; margin-top: 10px; }
.page.dist .electionTable tr td { font-family: Titillium Web, sans-serif; font-size: 14px; color: #3f5366; text-align: center; line-height: 14px; padding: 10px 20px; letter-spacing: -0.02em; min-width: 40px; border-right: 1px solid rgba(95, 124, 153, 0.1); }
.page.dist .electionTable tr td:nth-child(1) { border-left: 1px solid rgba(95, 124, 153, 0.2); }
.page.dist .electionTable tr:nth-child(even) { background: rgba(63, 83, 102, 0.1); }
.page.dist .electionTable .headers td { min-width: 80px; padding: 1px 15px; font-style: italic; }
.page.dist .demoTable { border-collapse: collapse; margin-top: 10px; }
.page.dist .demoTable tr td { font-family: Titillium Web, sans-serif; font-size: 14px; color: #3f5366; text-align: center; line-height: 14px; padding: 10px 20px; letter-spacing: -0.02em; min-width: 40px; border-right: 1px solid rgba(95, 124, 153, 0.1); }
.page.dist .demoTable tr td.title { padding: 10px 20px; font-style: italic; }
.page.dist .demoTable tr td.title { width: 130px !important; min-width: 130px; text-align: left; padding-left: 15px; }
.page.dist .demoTable tr td:nth-child(1) { border-left: 1px solid rgba(95, 124, 153, 0.2); }
.page.dist .demoTable .headers td { min-width: 55px; width: auto; padding: 4px 15px 4px 15px; font-style: italic; }
.page.dist .demoTable .subheaders td { padding: 4px; border-left: none; }
.page.dist .demoTable tr:nth-child(odd) { background: rgba(63, 83, 102, 0.1); }
.page.dist .demoTable tr:nth-child(1) { background: none; }
.page.dist .demoTable td.light { background: rgba(63, 83, 102, 0.06); color: #5f7c99; }
.page.dist .demoTable td.dark { background: rgba(63, 83, 102, 0.12); color: #3f5366; }
.page.dist .demoTable td.noborder { border: none; }
.page.dist .demoTable td.double { min-width: 95px; }
.page.dist .infoLine { font-size: 12px; float: right; color: #5f7c99; }
.page.dist .infoLine .fa { border: 2px solid #5f7c99; border-radius: 100%; -webkit-border-radius: 100%; width: 20px; height: 20px; text-align: center; line-height: 16px; margin-left: 10px; }
.page.dist .footer .infoLine { font-size: 14px; float: none; text-align: center; display: block; color: #5f7c99; cursor: pointer; }
.page.dist .footer .infoLine .fa { width: 25px; height: 25px; line-height: 21px; padding-left: 1px; }
.page.dist .credits { position: relative; top: 0; left: 0; font-size: 11px; margin: 30px auto 0px auto; }
.page.dist .page.ussenate .candTitle { margin-bottom: 0; }

/*------HEIGHT STYLES: 800px ------ */
@media only screen and (max-height: 800px) { /*------RESPONSIVE WRAPPER------ */
  #wrapper { padding-top: 60px; min-height: 320px; }
  /*------RESPONSIVE MENU------ */
  .navWrapper { height: 60px; }
  .navWrapper .inner { padding: 15px; }
  .navWrapper .inner .logo { margin-top: 2px; width: 120px; }
  .navWrapper .inner #menuToggle { margin-top: 0px; font-size: 17px; line-height: 33px; }
  .navWrapper .inner #menuToggle .fa-bars { font-size: 23px; margin: -1px 0 0 5px; }
  .navWrapper .inner .mainMenu { right: -220px; width: 220px; }
  .navWrapper .inner .mainMenu .menuTitle { height: 50px; line-height: 55px; font-size: 25px; padding-left: 25px; }
  .navWrapper .inner .mainMenu .menuSubTitle { padding-right: 25px; height: 50px; line-height: 55px; font-size: 16px; border-bottom: 1px solid #cc3e3b; padding-left: 25px; }
  .navWrapper .inner .mainMenu .menuSubTitle .fa { margin-top: 16px; margin-left: 43px; font-size: 11px; height: 20px; width: 20px; border: 1px solid #3f5366; line-height: 19px; }
  .navWrapper .inner .mainMenu .menuFooter { padding-left: 25px; padding-right: 25px; }
  .navWrapper .inner .mainMenu .menuItem { padding-left: 25px; font-size: 17px; height: 66px; line-height: 70px; padding-right: 20px; }
  .navWrapper .inner .mainMenu .menuItem .fa { font-size: 10px; height: 20px; width: 20px; border: 1px solid #3f5366; text-align: center; line-height: 18px; margin-top: 25px; }
  .navWrapper .inner .mainMenu .menuItem .menu { margin-left: -25px; margin-right: -20px; max-width: 220px; }
  .navWrapper .inner .mainMenu .menuItem.active .menuItem { padding-left: 40px; line-height: 70px; }
  .page .listWrap .item { padding: 10px 5px; }
  .page .listWrap .item a { line-height: 56px; height: 56px; }
  .page .listWrap .item .thumb { border: 2px solid #3f5366; width: 56px; height: 56px; }
  .page .listWrap .item span.name { padding-top: 1%; }
  .page .listWrap .item span.info { padding-top: 0; font-size: 14px; line-height: 14px; } }
/*------RES STYLES: 600-767PX ( SMALL TABLET)------ */
@media only screen and (max-width: 767px) { hr { margin-top: 25px; margin-bottom: 30px; }
  .scrollButton { display: none; }
  .infoLine.touch { display: block; }
  /*------RESPONSIVE WRAPPER------ */
  /*------HOME------ */
  .home .centerTitle { padding-top: 20%; }
  .home .centerTitle h1 { font-size: 50px; }
  .home .centerTitle h1 small { font-size: 35px; }
  .home .centerTitle h2 { font-size: 18px; }
  .home .centerTitle .buttons { margin-top: 6%; }
  .home .centerTitle .buttons .button { width: 130px; height: 130px; line-height: 105px; border: 6px solid #3f5366; margin: 20px 25px; }
  .home .centerTitle .buttons .button span { font-size: 18px; line-height: 20px; }
  .credits { font-size: 12px; }
  /*------INNER PAGES------ */
  .page .header .pageTitle { font-size: 40px; }
  .page .header .houses { margin: 20px auto; }
  .page .header .houses .item { width: 80px; height: 80px; border: 4px solid #3f5366; margin: 0 10px; line-height: 87px; }
  .page .header .houses.search .item { width: 80px; height: 80px; border: 2px solid #3f5366; margin: 10px; line-height: 90px; }
  .page .header .houses.search .item span { font-size: 12px;}
  .page .header .houses .item span { font-size: 14px; line-height: 15px; }
  .page .header .lastNames { margin: 20px auto 20px auto; }
  .page .listWrap .item span.info { font-size: 12px; }
  .page .listWrap .item span.name { font-size: 16px; }
  .page.contact .infoLine { font-size: 16px; }
  .page.contact .social .fa { width: 80px; height: 80px; font-size: 29px; border: 4px solid #3f5366; margin-right: 17px; line-height: 79px; }
  .page.contact .contactForm input { padding-left: 15px; font-size: 14px; height: 35px; line-height: 29px; margin-bottom: 16px; }
  .page.contact .contactForm input::-webkit-input-placeholder { font-size: 14px; }
  .page.contact .contactForm input:-moz-placeholder { font-size: 14px; }
  .page.contact .contactForm input::-moz-placeholder { font-size: 14px; }
  .page.contact .contactForm input:-ms-input-placeholder { font-size: 14px; }
  .page.contact .contactForm .submitcircle { width: 80px; height: 80px; border: 4px solid #3f5366; }
  .page.contact .contactForm .submitcircle input.submitRound { line-height: 17px; margin: 21px auto; }
  .page.contact .links .item .fa { width: 85px; height: 85px; border: 4px solid #3f5366; line-height: 78px; font-size: 44px; }
  .page.cand { padding: 40px 30px 0 30px; }
  .page.cand .districtTitle { font-size: 15px; }
  .page.cand .candTitle { font-size: 35px; }
  .page.cand .candSubTitle { font-size: 16px; }
  .page.cand .profile { border: 7px solid #3f5366; }
  .page.cand .col.third, .page.cand .col.two-thirds { width: 50%; }
  .page.cand .col.third .col.third, .page.cand .col.third .col.two-thirds, .page.cand .col.third .col.half, .page.cand .col.two-thirds .col.third, .page.cand .col.two-thirds .col.two-thirds, .page.cand .col.two-thirds .col.half { width: 100%; margin-bottom: 1em; }
  .page.cand .infoLine ul.rowLineItems li { width: 40%; margin-bottom: 6%; }
  .page.cand .social { width: 100%; }
  .page.cand .social a { width: 100%; display: block; overflow: hidden; text-overflow: ellipsis; }
  .page.cand .topMargin { margin-top: 0; }
  .page.cand .links .item .fa { width: 85px; height: 85px; border: 4px solid #3f5366; line-height: 78px; font-size: 44px; }
  .page.dist .profile { width: 160px; height: 160px; border: 7px solid #3f5366; }
  .page.dist .profileSub { width: 160px; }
  .page.dist .distTitle { margin-top: 0px; }
  .page.dist .candTitle { font-size: 28px; margin-bottom: 20px; }
  .page.dist .candTitle .small { font-size: 9px; }
  .page.dist .candInfo .details span { font-size: 11px; }
  .page.dist .candInfo .details .name { font-size: 14px; }
  .page.dist .sectionTitle { margin-bottom: 25px; }
  .page.dist .profileChart { max-width: 120px; }
  .page.dist .profileChart .chart { width: 120px !important; height: 120px !important; }
  .page.dist .profileChart .title { font-size: 14px; margin-top: -83px; margin-bottom: 55px; line-height: 16px; }
  .page.dist .electionContainer { position: relative; max-width: 100%; }
  .page.dist .electionContainer .titlesTable { margin-top: 28px; }
  .page.dist .electionContainer .titlesTable tr td { font-size: 12px; line-height: 12px; }
  .page.dist .demoContainer { position: relative; max-width: 100%; }
  .page.dist .demoContainer .titlesTable { margin-top: 18px; }
  .page.dist .demoContainer .titlesTable tr td { font-size: 12px; line-height: 12px; }
  .page.dist .electionTable tr td { font-size: 12px; line-height: 12px; }
  .page.dist .electionTable tr td.title { padding: 8px; }
  .page.dist .electionTable .headers td { min-width: 70px; padding: 1px 10px; }
  .page.dist .demoTable tr td { font-size: 12px; line-height: 12px; padding: 10px 20px; }
  .page.dist .demoTable tr td.title { padding: 7px 10px; }
  .page.dist .demoTable tr td.title { width: 100px !important; min-width: 100px; padding-left: 10px; }
  .page.dist .demoTable .headers td { min-width: 50px; padding: 4px 10px; }
  .page.dist .demoTable td.double { min-width: 80px; }
  .page.ussenate .candTitle { margin-bottom: 0; } }
/*------RES STYLES: 599PX (iPhone 5 landscape)------ */
@media only screen and (max-width: 599px) { /*------RESPONSIVE WRAPPER------ */
  #wrapper { padding-top: 60px; min-height: 320px; }
  /*------RESPONSIVE MENU------ */
  .navWrapper { height: 60px; }
  .navWrapper .inner { padding: 15px; }
  .navWrapper .inner .logo { margin-top: 2px; width: 120px; }
  .navWrapper .inner #menuToggle { margin-top: 0px; font-size: 17px; line-height: 33px; }
  .navWrapper .inner #menuToggle .fa-bars { font-size: 23px; margin: -1px 0 0 5px; }
  .navWrapper .inner .mainMenu { right: -220px; width: 220px; }
  .navWrapper .inner .mainMenu .menuTitle { height: 50px; line-height: 55px; font-size: 25px; padding-left: 25px; }
  .navWrapper .inner .mainMenu .menuSubTitle { padding-right: 25px; height: 50px; line-height: 55px; font-size: 16px; border-bottom: 1px solid #cc3e3b; padding-left: 25px; }
  .navWrapper .inner .mainMenu .menuSubTitle .fa { margin-top: 16px; margin-left: 43px; font-size: 11px; height: 20px; width: 20px; border: 1px solid #3f5366; line-height: 19px; }
  .navWrapper .inner .mainMenu .menuFooter { padding-left: 25px; padding-right: 25px; }
  .navWrapper .inner .mainMenu .menuItem { padding-left: 25px; font-size: 17px; height: 66px; line-height: 70px; padding-right: 20px; }
  .navWrapper .inner .mainMenu .menuItem .fa { font-size: 10px; height: 20px; width: 20px; border: 1px solid #3f5366; text-align: center; line-height: 18px; margin-top: 25px; }
  .navWrapper .inner .mainMenu .menuItem .menu { margin-left: -25px; margin-right: -20px; max-width: 220px; }
  .navWrapper .inner .mainMenu .menuItem.active .menuItem { padding-left: 40px; line-height: 70px; }
  /*------HOME------ */
  .home .centerTitle { padding-top: 5%; }
  .home .centerTitle h1 { font-size: 45px; }
  .home .centerTitle h1 small { font-size: 30px; }
  .home .centerTitle h2 { font-size: 17px; }
  .home .centerTitle .buttons { margin-top: 0; }
  .home .centerTitle .buttons .button { width: 100px; height: 100px; line-height: 85px; border: 4px solid #3f5366; margin: 15px 20px; }
  .home .centerTitle .buttons .button span { font-size: 15px; line-height: 16px; }
  .credits { font-size: 10px; }
  /*------INNER PAGES------ */
  .topMargin { margin-top: 1em; }
  .page { padding-top: 20px; }
  .page .header { margin-bottom: 15px; }
  .page .header .searchBox { margin-top: 15px; }
  .page .listWrap .item { padding: 10px 5px; }
  .page.contact { padding: 20px 30px 0 30px; }
  .page.contact .header { margin-bottom: 15px; }
  .page.contact .infoLine { font-size: 14px; }
  .page.contact .social { font-size: 12px; line-height: 55px; }
  .page.contact .social .fa { width: 60px; height: 60px; font-size: 20px; line-height: 57px; }
  .page.cand { padding: 20px 30px 0 30px; }
  .page.dist { padding: 20px 30px 0 30px; } }
/*------RES STYLES: 567PX (iPhone =< 4 landscape------ */
@media only screen and (max-width: 568px) { hr { margin-top: 15px; margin-bottom: 20px; }
  /*------INNER PAGES------ */
  .col.third { width: 140px; }
  .infoLine { font-size: 12px; margin-bottom: 6px; }
  .page { padding-top: 10px; }
  .page .header { margin-bottom: 10px; }
  .page .header .pageTitle { font-size: 28px; }
  .page .header .searchBox { margin-top: 10px; }
  .page .header .houses .item { width: 70px; height: 70px; border-width: 3px; margin: 0 5px; line-height: 75px; }
  .page .header .houses .item span { font-size: 12px; line-height: 13px; }
  .page .header .lastNames .item { font-size: 16px; padding: 8px; }
  .page .listWrap .item .thumb { margin-right: 10px; }
  .page.contact { padding: 10px 15px 0 15px; }
  .page.contact .header { margin-bottom: 10px; }
  .page.contact .header .pageTitle { font-size: 28px; }
  .page.contact .col { line-height: 12px; }
  .page.contact .title { font-size: 20px; }
  .page.contact .infoLine { font-size: 12px; line-height: 14px; }
  .page.contact .social { line-height: 15px; }
  .page.contact .social .fa { width: 30px; height: 30px; font-size: 15px; line-height: 30px; border-width: 2px; margin-top: 10px; }
  .page.cand .infoLine { font-size: 14px; margin-bottom: 0; }
  .page.dist { padding: 10px 15px 0 15px; }
  .page.dist .profile { width: 50px; height: 50px; border: 3px solid #3f5366; }
  .page.dist .profileSub { display: none; }
  .page.dist .profileFull {left: 2.5%; top: 2%; width: 95%;}
  .page.dist .distTitle { font-size: 30px; }
  .page.dist .sectionTitle { margin-bottom: 15px; }
  .page.dist .meter .semiCircle { background-size: 140px 70px; width: 140px; height: 70px; }
  .page.dist .meter .needle { background-size: 14px 34px; width: 14px; height: 34px; top: 38px; margin-left: -7px; }
  .page.dist .meter .meterTitle { font-size: 15px; }
  .page.dist .meter .meterTable .item { font-size: 12px; }
  .page.dist .profileChart { max-width: 100px; }
  .page.dist .profileChart .chart { width: 100px !important; height: 100px !important; }
  .page.dist .profileChart .title { font-size: 12px; margin-top: -69px; line-height: 14px; margin-bottom: 45px; }
  .page.dist .profileChart .table .row { font-size: 12px; }
  .page.ussenate .row:first-child .profile { width: 160px; height: 160px; }
  .page.ussenate .row:first-child .profileSub { display: initial; } }
/*------RES STYLES: 479PX (iPhone =< 4 landscape------ */
@media only screen and (max-width: 479px) { hr { margin-top: 15px; margin-bottom: 20px; }
  .xs-break { display: initial; }
  /*------HOME------ */
  .home .centerTitle h1 { font-size: 25px; }
  .home .centerTitle h1 small { font-size: 18px; }
  .home .centerTitle h2 { font-size: 12px; }
  .credits { margin-bottom: 60px; }
  /*------INNER PAGES------ */
  .col.third { width: 120px; }
  .col.two-thirds { width: 55%; }
  .infoLine { font-size: 12px; }
  .page .header .houses .item { margin: 5px; }
  .page .header .lastNames { margin: 10px auto; }
  .page .header .lastNames .item { font-size: 12px; padding: 8px; }
  .page .header .lastNames .bar { width: 10px; }
  .page .listWrap .item { width: 100%; }
  .page.contact .header .pageTitle { font-size: 22px; }
  .page.contact .social { margin-top: 24px; }
  .page.contact .social .fa { display: block; margin-bottom: 5px; }
  .page.contact .contactForm .col.half { width: 100%; }
  .page.contact .links .item { font-size: 10px; line-height: 12px; }
  .page.contact .links .item .fa { width: 45px; height: 45px; border: 2px solid #3f5366; line-height: 40px; font-size: 24px; }
  .page.cand { line-height: 5px; padding: 10px 15px 0 15px; }
  .page.cand .profile { width: 130px; height: 130px; border: 3px solid #3f5366; }
  .page.cand .districtTitle { font-size: 12px; margin: 0px 0 10px 0; }
  .page.cand .candTitle { font-size: 20px; }
  .page.cand .candSubTitle { font-size: 12px; margin: 10px 0 0 0; }
  .page.cand .row { line-height: 100%; }
  .page.cand .row:not(:first-child) .col.third, .page.cand .row:not(:first-child) .col.two-thirds, .page.cand .row:not(:first-child) .col.half { -webkit-column-count: 2; -moz-column-count: 2; column-count: 2; width: 100%; border-top: 2px solid rgba(63, 83, 102, 0.2); padding-bottom: 10px; padding-top: 10px; }
  .page.cand .row:not(:first-child) .col.third .col.half, .page.cand .row:not(:first-child) .col.two-thirds .col.half, .page.cand .row:not(:first-child) .col.half .col.half { -webkit-column-count: 1; -moz-column-count: 1; column-count: 1; width: 100%; margin-bottom: 0; border: none; padding: 0; }
  .page.cand .row:not(:first-child) .col.third br, .page.cand .row:not(:first-child) .col.two-thirds br, .page.cand .row:not(:first-child) .col.half br { display: none; }
  .page.cand .infoLine { width: 100%; margin: 5px auto 5px auto; display: inline-block; word-break: break-word; }
  .page.cand .infoLine .infoName { display: inline-block; width: 100%; }
  .page.cand .social .fa { width: 10px; height: 10px; padding-top: 0; border: none; font-size: 15px; margin: 0 5px 0 0; display: inline; line-height: 20px; }
  .page.cand .links .item { font-size: 10px; line-height: 12px; }
  .page.cand .links .item .fa { width: 45px; height: 45px; border: 2px solid #3f5366; line-height: 40px; font-size: 24px; }
  .page.dist { line-height: 5px; }
  .page.dist .row { line-height: 100%; }
  .page.dist .row:first-child .col.third { width: auto; }
  .page.dist .row:first-child .col.two-thirds { width: auto; float: none; }
  .page.dist .row:not(:first-child) .col.third, .page.dist .row:not(:first-child) .col.two-thirds, .page.dist .row:not(:first-child) .col.half { width: 100%; padding-bottom: 10px; padding-top: 10px; }
  .page.dist .row:not(:first-child) .col.third .col.half, .page.dist .row:not(:first-child) .col.two-thirds .col.half, .page.dist .row:not(:first-child) .col.half .col.half { width: 50%; margin-bottom: 0; border: none; padding: 0; }
  .page.dist .distTitle { font-size: 18px; padding-top: 2%; }
  .page.dist .sectionTitle { line-height: 24px; font-size: 26px; }
  .page.dist .meter { float: none; margin: 0 auto; }
  .page.dist .profileChart { max-width: 100%; width: 255px; margin: 0 auto 10px auto; border-bottom: 1px solid rgba(63, 83, 102, 0.06); padding-bottom: 10px; }
  .page.dist .profileChart .chart { width: 120px !important; height: 120px !important; float: left; margin-right: 35px; }
  .page.dist .profileChart .title { margin: 5px 0 0 0; position: relative; border-bottom: 1px solid #3f5366; padding-bottom: 5px; float: left; width: 100px; }
  .page.dist .profileChart .table { margin: 5px auto 0 auto; width: 100px; float: left; }
  .page.dist .profileChart .table .row { font-size: 10px; line-height: 14px; border-bottom: 1px solid rgba(63, 83, 102, 0.06); }
  .page.dist .credits { line-height: 12px; }
  .page.ussenate .row:first-child .col.third { display: none; }
  .page.ussenate .row:first-child .col.two-thirds { float: left; max-width: 100%; } }
