<div class="contact page">
    <div class="header">
        <h1 class="pageTitle">About NC Free Enterprise Foundation</h1>
    </div>
    <div class="row">
        <div class="infoP">
            <p>The North Carolina FreeEnterprise Foundation provides innovative educational programs, non-partisan political research, and objective analysis to foster informed civic involvement, develop an understanding of the free enterprise economy, and strengthen North Carolina’s prosperous business environment.</p>
        </div>
    </div>
    <hr>
    <div class="row links">
        <div class="item">
            <a ui-sref="contact"><i class="fa fa-phone"></i>Contact Info</a>
        </div>
        <div class="item">
            <a href="http://ncfef.org" target="_blank"><i class="fa fa-laptop"></i>Visit our Website</a>
        </div>
        <div class="item last">
            <a ui-sref="contact"><i class="fa fa-thumbs-o-up"></i>Social Media Links</a>
        </div>
    </div>
</div>