<div class="cand page">
    <div class="row">
        <div class="col third">
            <div class="profile" ng-style="listing.profile"></div>
        </div>
        <div class="col two-thirds">
            <h2 class="districtTitle">{{listing.DirectoryName}}</h2>
            <h1 class="candTitle">{{listing.Office}}</h1>

        </div>
        <br class="clear" />
    </div>
    <br><br>
    <div class="row ">
        <div class="col third">
            <span ng-show="listing.KS1" class="infoLine">
                <span class="infoName">{{listing.KS1Title}}: </span><br>
                {{listing.KS1}}<br>
                <a href="mailto:{{listing.KS1Email{{" target="_blank">{{listing.KS1Email}}</a><br>
                {{listing.KS1Phone}}
            </span>
            <br ng-show="listing.KS2">
            <span ng-show="listing.KS2" class="infoLine">
                <span class="infoName">{{listing.KS2Title}}: </span><br>
                {{listing.KS2}}<br>
                 <a href="mailto:{{listing.KS2Email{{" target="_blank">{{listing.KS2Email}}<br></a>
                {{listing.KS2Phone}}
            </span>
            <br ng-show="listing.KS3">
            <span ng-show="listing.KS3" class="infoLine">
                <span class="infoName">{{listing.KS3Title}}: </span><br>
                {{listing.KS3}}<br>
                 <a href="mailto:{{listing.KS3Email{{" target="_blank">{{listing.KS3Email}}<br></a>
                {{listing.KS3Phone}}
            </span>
            <br ng-show="listing.KS4">
            <span ng-show="listing.KS4" class="infoLine">
                <span class="infoName">{{listing.KS4Title}}: </span><br>
                {{listing.KS4}}<br>
                 <a href="mailto:{{listing.KS4Email{{" target="_blank">{{listing.KS4Email}}<br></a>
                {{listing.KS4Phone}}
            </span>
            <br ng-show="listing.KS5">
            <span ng-show="listing.KS5" class="infoLine">
                <span class="infoName">{{listing.KS5Title}}: </span><br>
                {{listing.KS5}}<br>
                 <a href="mailto:{{listing.KS5Email{{" target="_blank">{{listing.KS5Email}}<br></a>
                {{listing.KS5Phone}}
            </span>
            <br ng-show="listing.KS6">
            <span ng-show="listing.KS6" class="infoLine">
                <span class="infoName">{{listing.KS6Title}}: </span><br>
                {{listing.KS6}}<br>
                 <a href="mailto:{{listing.KS6Email{{" target="_blank">{{listing.KS6Email}}<br></a>
                {{listing.KS6Phone}}
            </span>
            <br ng-show="listing.KS7">
            <span ng-show="listing.KS7" class="infoLine">
                <span class="infoName">{{listing.KS7Title}}: </span><br>
                {{listing.KS7}}<br>
                 <a href="mailto:{{listing.KS7Email{{" target="_blank">{{listing.KS7Email}}<br></a>
                {{listing.KS7Phone}}
            </span>
            <br ng-show="listing.KS8">
             <span ng-show="listing.KS8" class="infoLine">
                <span class="infoName">{{listing.KS8Title}}: </span><br>
                {{listing.KS8}}<br>
                 <a href="mailto:{{listing.KS8Email{{" target="_blank">{{listing.KS8Email}}<br></a>
                {{listing.KS8Phone}}
            </span>
        </div>
        <div class="col two-thirds">
            <span ng-show="listing.MailingAddress" class="infoLine">
                <span class="infoName">Mailing Address: </span><br>
                {{listing.MailingAddress}}
            </span>
            <br ng-show="listing.Phone" />
            <span ng-show="listing.Phone" class="infoLine">
                <span class="infoName">Phone: </span><br>
                {{listing.Phone}}
            </span>
            <br ng-show="listing.email" />
            <span ng-show="listing.email" class="infoLine">
                <span class="infoName">Email Address: </span><br>
                <a href="mailto:{{listing.email}}" target="_blank">
                {{listing.email}}
                    </a>
            </span>
            <br>
            <span ng-show="listing.Website" class="social">
                <a href="http://{{listing.Website}}" target="_blank"><i class="fa fa-laptop"></i>{{listing.Website}}</a>
            </span>
        </div>
        <br class="clear" />
    </div>
    <hr>
    <div class="row links">
        <div class="item">
            <a ui-sref="directories"><i class="fa fa-institution"></i>Back to Main Directory</a>
        </div>
    </div>
</div>
