<div class="cand page">
    <div class="row">
        <div class="col third">
            <div class="profile" ng-style="candidate.profile" />
        </div>
        <div class="col two-thirds">
            <h2 ng-show="candidate.district" class="districtTitle">{{candidate.type | distName}} District {{candidate.district}}</h2>
            <h2 ng-show="candidate.seat" class="districtTitle">Candidate for {{candidate.seat}}</h2>
            <h1 class="candTitle">{{candidate.name}}</h1>
            <h2 class="candSubTitle">{{candidate.aff | addDash}}{{candidate.county}} {{candidate.incumbent | incumbency}}</h2>
            <span ng-show="candidate.occupation" class="infoLine">
                <span class="infoName">Occupation: </span>
                {{candidate.occupation}}
            </span>
            <span ng-show="candidate.employer" class="infoLine">
                <span class="infoName">Employed By: </span>
                {{candidate.employer}}
            </span>
        </div>
        <br class="clear" />
    </div>
    <br><br>
    <div class="row ">
        <div class="col third" ng-show="candidate.prevoffice || candidate.committees || candidate.lbr">
            <span ng-show="candidate.committees"  class="infoLine">
                <span class="infoName">Committees: </span>
                <br>
                <ul>
                    <li ng-repeat="committee in candidate.committees">{{committee.name}}</li>
                </ul>
            </span>
            <br ng-show="candidate.prevoffice" />
            <span ng-show="candidate.prevoffice"  class="infoLine">
                <span class="infoName">Previous Offices: </span>
                    <br>
                    <ul>
                        <li ng-repeat="office in candidate.prevoffice">{{office}}</li>
                    </ul>
                </span>
            <br ng-show="candidate.lbr" />
            <span class="infoLine" ng-show="candidate.lbr">
                <span class="infoName">NCFEF Business Rating: </span>
                <br>
                <span class="half"><b>{{candidate.lbr}}</b></span>
                <br class="clear" />
                <span class="small">(Base = 100-70; Swing = 69-55; Occasional = <55)</span>
            </span>
        </div>
        <div class="col two-thirds">
            <div class="col half">
                <span ng-show="candidate.spouse" class="infoLine">
						<span class="infoName">Spouse Name: </span>
						{{candidate.spouse}}
					</span>
                <br ng-show="candidate.spouse">
					<span ng-show="candidate.address1" class="infoLine">
						<span class="infoName">Home Address: </span>
						<br>
						{{candidate.address1}}<br>
						{{candidate.address2}}
					</span>
                <br ng-show="candidate.address1">
					<span class="infoLine">
						<span ng-show="candidate.phone" class="infoName">Phone: </span>
						{{candidate.phone}}<br ng-show="candidate.phone">
                        <span ng-show="candidate.fax" class="infoName">Fax: </span>
						{{candidate.fax}}<br ng-show="candidate.fax">
						<span ng-show="candidate.email" class="infoName">Email: </span>
                        <a href="mailto:{{candidate.email}}" target="_blank">
						{{candidate.email}}
                            </a>
					</span>
                <br ng-show="candidate.legassist">
                    <span ng-show="candidate.legassist"  class="infoLine">
                        <span class="infoName">Legislative Assistants: </span>
                        <span ng-repeat="assistant in candidate.legassist">
                            <br>
                            {{assistant.name}}
                        </span>
                    </span>
                <br>
                <span ng-show="candidate.coh" class="infoLine">
                    <span class="infoName">Cash on Hand: </span>
                    <br>
                    {{candidate.coh | toMoney}}
                </span>
            </div>
            <div class="col half">
                <br class="xs-break" />
                <span ng-show="candidate.website" class="social">
                    <a href="http://{{candidate.website}}" target="_blank"><i class="fa fa-laptop"></i>{{candidate.website}}</a>
                </span>
                <span class="social" ng-show="candidate.facebook">
                    <a href="{{candidate.facebook}}" target="_blank"><i class="fa fa-facebook"></i>{{candidate.name}}</a>
                </span>
                <span class="social" ng-show="candidate.twitter">
                    <a href="{{candidate.twitter}}" target="_blank"><i class="fa fa-twitter"></i>@{{candidate.twittername}}</a>
                </span>
            </div>
            <br class="clear" />
        </div>
        <br class="clear" />
    </div>
    <hr>
    <div class="row links">
        <div ng-show="candidate.district" class="item">
            <a href="{{linking.getDistrictLink(candidate.type, candidate.district)}}"><i class="fa fa-institution"></i>See {{candidate.districtTitle}} District {{candidate.district}} Info</a>
        </div>
        <div ng-show="candidate.seatnum > -1" class="item">
            <a href="{{linking.getJudicialLink(candidate.seatnum)}}"><i class="fa fa-institution"></i>See {{candidate.seat}} Info</a>
        </div>
        <div ng-show="candidate.dirIndex != null" class="item">
            <a href="{{linking.getDirLink(candidate.type, candidate.dirIndex)}}"><i class="fa fa-info-circle"></i>See Directory Info for Candidate</a>
        </div>
        <div ng-show="candidate.district" class="item last">
            <a href="{{linking.getDistrictListLink(candidate.type, candidate.district)}}"><i class="fa fa-group"></i>See other candidates in district</a>
        </div>
    </div>
</div>