<div class="contact page">
    <div class="header">
        <h1 class="pageTitle">Connect with<br>NC Free Enterprise Foundation</h1>
    </div>
    <div class="row">
        <div class="col half">
            <h1 class="title">Contact Us</h1>
            <br>
					<span class="infoLine">
						North Carolina Free Enterprise Foundation
					</span>
            <br>
					<span class="infoLine">
						P.O. Box 12406<br>
						Raleigh, North Carolina 27605
					</span>
            <br>
					<span class="infoLine">
						<span class="infoName">Phone: </span>
						919-896-8347
					</span>
					<span class="infoLine">
						<span class="infoName">Fax: </span>
						919-896-8349
					</span>
					<span class="infoLine">
						<span class="infoName">Email: </span>
						info@ncfef.org
					</span>
        </div>
        <div class="col half">
            <h1 class="title">Social Media</h1>
            <div class="social">
                <a href="https://www.facebook.com/NCFEF"><i class="fa fa-facebook"></i>NCFEF on Facebook</a>
            </div>
            <div class="social">
                <a href="https://twitter.com/NCFEF"><i class="fa fa-twitter"></i>@NCFEF</a>
            </div>
            <div class="social">
                <a href="https://www.youtube.com/user/NCFEF"><i class="fa fa-youtube"></i>NCFEF on YouTube</a>
            </div>
        </div>
        <br class="clear" />
    </div>
    <div class="row topMargin" ng-show="formFilled">
        <h1 class="title">Stay Updated</h1>
        <h2 class="subTitle">Fill out the form to receive our email updates</h2>
        <br>
        <form class="contactForm">
            <div class="col half">
                <input required class="full" type="text" name="fname" placeholder="First Name" />
                <input required class="full" type="text" name="lname" placeholder="Last Name" />
            </div>
            <div class="col half last">
                <input required class="full" type="email" name="email" placeholder="Email Address" />
                <input pattern="^(?:(?:\+?1\s*(?:[.-]\s*)?)?(?:\(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9])\s*\)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)?([2-9]1[02-9]|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$" required class="two-thirds" type="text" name="phone" placeholder="Phone" />
                <input pattern="[0-9]{5}" required class="one-third last" type="text" name="zip" placeholder="Zip Code" />
            </div>
            <br class="clear" />
            <div class="submitcircle"><input type="submit" value="Sign Me UP" class="submitRound"/></div>
        </form>
    </div>
</div>