<div class="cand page">
    <div class="row">
        <div class="col third">
            <div class="profile" ng-style="listing.profile"></div>
        </div>
        <div class="col two-thirds">
            <h2 class="districtTitle">{{listing.type | distName}} {{listing.District | distType}}</h2>
            <h1 class="candTitle">{{listing.DirectoryName}}</h1>
            <h2 ng-show="listing.LeadershipPosition" class="districtTitle">{{listing.LeadershipPosition}}</h2>
            <h2 ng-show="listing.type != 'judicial'" class="candSubTitle">{{listing.Party}} - {{listing.HomeCounty}}</h2>
            <h2 ng-show="listing.type == 'judicial'" class="candSubTitle">{{listing.HomeCounty}}</h2>


        </div>
        <br class="clear" />
    </div>
    <br><br>
    <div class="row ">
        <div class="col third">

            <span ng-show="listing.Occupation" class="infoLine">
                <span class="infoName">Occupation: </span>
                {{listing.Occupation}}
            </span>

            <span ng-show="listing.BusinessName" class="infoLine">
                <span class="infoName">Employer: </span>
                {{listing.BusinessName}}
            </span>

            <br ng-show="listing.BusinessName">

            <span ng-show="listing.BusinessAddress" class="infoLine">
                <span class="infoName">Business Address: </span><br>
                {{listing.BusinessAddress}}<br>
                {{listing.BusinessCity}}, {{listing.BusinessState}} {{listing.BusinessZip}}<br>
                {{listing.BusinessPhone}}
            </span>

            <br ng-show="listing.BusinessAddress">

            <span ng-show="listing.Spouse" class="infoLine">
                <span class="infoName">Spouse Name: </span>
                {{listing.Spouse}}
            </span>

            <br>

            <div ng-if="listing.type != 'us_congress' && listing.type != 'ussenate' && listing.type != 'judicial'">
                <span ng-if="cityStateAdd()" class="infoLine">
                <span class="infoName">Preferred Address: </span>
                <br>
                <span>{{listing.PreferredAddress1}}</span><br>
                <span>{{listing.PreferredCity}}, {{listing.PreferredState}} {{listing.PreferredZip}}</span>
                </span>

                <span ng-if="!cityStateAdd()" class="infoLine">
                    <span class="infoName">Preferred Address: </span>
                    <br>
                    <span>{{listing.PreferredAddress1}}</span><br>
                    <span>{{listing.PreferredAddress2}}</span>
                </span>

                <br ng-show="listing.PreferredPhone1">

                <span ng-show="listing.PreferredPhone1" class="infoLine">
                    <span class="infoName">Preferred Phone: </span><br>
                    <a href="tel:{{listing.PreferredPhone1}}">{{listing.PreferredPhone1}}</a>
                </span>
            </div>

            <div ng-if="listing.type == 'judicial'">
                <span class="infoLine">
                <span class="infoName">Address: </span>
                <br>
                <span>{{listing.MailingAddress}}</span><br>
                </span>

                <br ng-show="listing.Phone">

                <span ng-show="listing.Phone" class="infoLine">
                    <span class="infoName">Phone: </span><br>
                    <a href="tel:{{listing.Phone}}">{{listing.Phone}}</a>
                </span>
            </div>

            <div ng-if="listing.type == 'us_congress' || listing.type == 'ussenate'">
                
                <span ng-if="listing.DistrictOfficeLocation1" class="infoLine">
                    <span class="infoName">{{listing.DistrictOfficeLocation1}} Office Location: </span>
                    <br>
                    <span>{{listing.Mailing1}}</span><br>
                    <span>{{listing['City/State/Zip1']}}</span><br>
                    <a href="tel:{{listing.Phone1}}">{{listing.Phone1}}</a>
                </span>

                <br ng-show="listing.DistrictOfficeLocation1" />
                
                 <span ng-if="listing.DistrictOfficeLocation2" class="infoLine">
                    <span class="infoName">{{listing.DistrictOfficeLocation2}} Office Location: </span>
                    <br>
                    <span>{{listing.Mailing2}}</span><br>
                    <span>{{listing['City/State/Zip2']}}</span><br>
                    <a href="tel:{{listing.Phone2}}">{{listing.Phone2}}</a>
                </span>

                <br ng-show="listing.DistrictOfficeLocation2" />
                
                 <span ng-if="listing.DistrictOfficeLocation3" class="infoLine">
                    <span class="infoName">{{listing.DistrictOfficeLocation3}} Office Location: </span>
                    <br>
                    <span>{{listing.Mailing3}}</span><br>
                    <span>{{listing['City/State/Zip3']}}</span><br>
                    <a href="tel:{{listing.Phone3}}">{{listing.Phone3}}</a>
                </span>

                <br ng-show="listing.DistrictOfficeLocation3" />
                
                 <span ng-if="listing.DistrictOfficeLocation4" class="infoLine">
                    <span class="infoName">{{listing.DistrictOfficeLocation4}} Office Location: </span>
                    <br>
                    <span>{{listing.Mailing4}}</span><br>
                    <span>{{listing['City/State/Zip4']}}</span><br>
                    <a href="tel:{{listing.Phone4}}">{{listing.Phone4}}</a>
                </span>

                <br ng-show="listing.DistrictOfficeLocation4" />
                
                 <span ng-if="listing.DistrictOfficeLocation5" class="infoLine">
                    <span class="infoName">{{listing.DistrictOfficeLocation5}} Office Location: </span>
                    <br>
                    <span>{{listing.Mailing5}}</span><br>
                    <span>{{listing['City/State/Zip5']}}</span><br>
                    <a href="tel:{{listing.Phone5}}">{{listing.Phone5}}</a>
                </span>

                <br ng-show="listing.DistrictOfficeLocation5" />
                
                 <span ng-if="listing.DistrictOfficeLocation6" class="infoLine">
                    <span class="infoName">{{listing.DistrictOfficeLocation6}} Office Location: </span>
                    <br>
                    <span>{{listing.Mailing6}}</span><br>
                    <span>{{listing['City/State/Zip6']}}</span><br>
                    <a href="tel:{{listing.Phone6}}">{{listing.Phone6}}</a>
                </span>

                
            </div>

            <br ng-show="listing.Email">

            <span ng-show="listing.Email" class="infoLine">
                <span class="infoName">Email: </span><br>
                <a href="mailto:{{listing.Email}}" target="_blank">{{listing.Email}}</a>
            </span>

        </div>
        <div class="col two-thirds">

            <span ng-show="listing.LegislativePhone" class="infoLine">
                <span class="infoName">Legislative Phone: </span><br>
                {{listing.LegislativePhone}}
            </span>

            <br ng-show="listing.LegislativeAddress1">

            <span ng-show="listing.LegislativeAddress1" class="infoLine">
                <span class="infoName">Legislative Address: </span><br>
                P.O. Box {{listing.LegislativeAddress2}}<br>
                {{listing.LegislativeAddress1}}<br>
                {{listing.LegislativeAddress3}}
            </span>

            <br ng-show="listing.LegislativeAddress">

            <span ng-show="listing.LegislativeAddress" class="infoLine">
                <span class="infoName">Legislative Address: </span><br>
                {{listing.LegislativeAddress}}
            </span>

            <br ng-show="listing.LegislativeAssistants">

            <span ng-show="listing.LegislativeAssistants"  class="infoLine">
                <span class="infoName">Legislative Assistants: </span>
                <span ng-repeat="assistant in listing.LegislativeAssistants">
                    <br>
                    {{assistant.name}}
                </span>
            </span>

            <br ng-show="listing.Terms">

            <span ng-show="listing.Terms" class="infoLine">
                <span class="infoName">Terms: </span><br>
                {{listing.Terms}}
            </span>

            <br ng-show="listing.SenateTerms">

            <span ng-show="listing.SenateTerms" class="infoLine">
                <span class="infoName">Senate Terms: </span><br>
                {{listing.SenateTerms}}
            </span>

            <br ng-show="listing.HouseTerms">

            <span ng-show="listing.HouseTerms" class="infoLine">
                <span class="infoName">House Terms: </span><br>
                {{listing.HouseTerms}}
            </span>
            <br ng-show="listing.CommitteeAssignments" />
            <span ng-show="listing.CommitteeAssignments"  class="infoLine">
                <span class="infoName">Committees: </span>
                <br>
                <ul>
                    <li ng-repeat="committee in listing.CommitteeAssignments">{{committee.name}}</li>
                </ul>
            </span>

        </div>
        <br class="clear" />
    </div>
    <hr>
    <div class="row links">
        <div class="item" ng-show="listing.type != 'judicial' && listing.District != 'Statewide' && listing.type != 'us_congress'">
            <a href="{{linking.getDistrictLink(listing.type, listing.District)}}"><i class="fa fa-institution"></i>See {{listing.type | distName}} District {{listing.District}} Info</a>
        </div>
        <div class="item last" ng-show="listing.type != 'judicial' && listing.type != 'us_congress'">
            <a href="{{linking.getDistrictListLink(listing.type, listing.District)}}"><i class="fa fa-group"></i>See candidates in district</a>
        </div>
         <div class="item" ng-show="listing.type == 'judicial' || listing.type == 'us_congress'">
            <a ui-sref="directories"><i class="fa fa-institution"></i>Back to Main Directory</a>
        </div>
    </div>
</div>