<div class="home">
    <div class="centerTitle">
        <h1>
            <small>the</small> Almanac <small>of</small><br>
            North Carolina Politics
        </h1>
        <h2>
            //	2015-2016 General Election Edition	//
        </h2>
        <div class="buttons">
            <a href="{{getDistrictLink('senate')}}" ng-show="senate" class="button"><span>NC Senate Districts</span></a>
            <a href="{{getDistrictLink('house')}}" ng-show="house" class="button"><span>NC House Districts</span></a>
            <a href="{{getDistrictLink('congress')}}" ng-show="congress" class="button"><span>US<br>Congress Districts</span></a>
            <a href="{{getDistrictLink('council')}}"ng-show="council" class="button"><span>Council<br>of State</span></a>
            <a href="{{getDistrictLink('judicial')}}" ng-show="judicial" class="button"><span>NC<br>Supreme Court</span></a>
            <a ui-sref="directories" ng-show="directories" class="button"><span>NC<br>Directory</span></a>
        </div>
    </div>
    <div class="credits">
        <a class="site" target="_blank" href="http://ncfef.org"><span>ncfef.org</span></a>
    </div>
</div>