<div class="dist page">
    <div class="row" ng-swipe-right="goToPrev()" ng-swipe-left="goToNext()">
        <div class="col third">
            <div class="profile" ng-style="district.profile" />
        </div>
        <div class="col two-thirds">
            <div class="table">
                <div class="cell">
                    <h1 class="distTitle">{{district.districtTitle}}</h1>
                </div>
            </div>
        </div>
        <br class="clear" />
    </div>
    <hr>
    <div class="row" ng-swipe-right="goToPrev()" ng-swipe-left="goToNext()">
        <div class="col two-thirds">
            <h1 class="candTitle">Candidates <span class="small">tap to see more info</span></h1>
            <div ng-click="goToCand(candidate.type, candidate.uniqueID)" ng-repeat="candidate in candidates" class="candInfo">
                <div class="candProfile" ng-style="candidate.small_profile" ></div>
                <div class="details">
                    <span class="row"><h1 class="name">{{candidate.name}}</h1><span>{{candidate.aff}}</span></span>
                    <span class="row"><span class="third">{{candidate.occupation}}</span><span class="two-thirds">{{candidate.coh | toMoney}}</span></span>
                </div>
            </div>
        </div>
        <div class="col third">
            <div class="meter" ng-show="district.cvb">
                <div class="semiCircle">

                </div>
                <div  class="needle" ng-style="{'-webkit-transform': 'rotate({{district.cvb | getMeterAngle}}deg)', '-moz-transform': 'rotate({{district.cvb | getMeterAngle}}deg)', 'transform': 'rotate({{district.cvb | getMeterAngle}}deg)'}">

                </div>
                <h1 class="meterTitle">{{district.cvb | getMeterAngle | meterTitle}}</h1>
                <div class="meterTable">
                    <div class="item">
                        <span class="title">
                            Dem
                        </span>
                        <span class="data">
                            {{district.registered.dem | toPercent}}%
                        </span>
                    </div>
                    <div class="item">
                        <span class="title">
                            Rep
                        </span>
                        <span class="data">
                            {{district.registered.rep | toPercent}}%
                        </span>
                    </div>
                    <div class="item">
                        <span class="title">
                            Una
                        </span>
                        <span class="data">
                            {{district.registered.una | toPercent}}%
                        </span>
                    </div>
                    <div class="item">
                        <span class="title">
                            Lib
                        </span>
                        <span class="data">
                            {{district.registered.lib | toPercent}}%
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <br class="clear" />
    </div>
    <hr>
    <div class="row charts" ng-swipe-right="goToPrev()" ng-swipe-left="goToNext()">
        <h1 class="sectionTitle">District Profile</h1>
        <div class="profileChart voterAff">
            <canvas class="chart" width="160" height="160"></canvas>
            <div class="title">Voter<br>Affiliation</div>
            <div class="table">
                <span class="row"><span class="name d">Democrat</span>{{district.registered.dem | toPercent}}%</span>
                <span class="row"><span class="name r">Republican</span>{{district.registered.rep | toPercent}}%</span>
                <span class="row"><span class="name u">Unaffiliated</span>{{district.registered.una | toPercent}}%</span>
                <span class="row"><span class="name l">Libertarian</span>{{district.registered.lib | toPercent}}%</span>
            </div>
        </div>
        <div class="profileChart voterRace">
            <canvas class="chart" width="160" height="160"></canvas>
            <div class="title">Voter<br>Race</div>
            <div class="table">
                <span class="row"><span class="name d">Black</span>{{district.voters.black | toPercent}}%</span>
                <span class="row"><span class="name r">White</span>{{district.voters.white | toPercent}}%</span>
                <span class="row"><span class="name u">Asian</span>{{district.voters.asian | toPercent}}%</span>
                <span class="row"><span class="name l">Hispanic</span>{{district.voters.hispanic | toPercent}}%</span>
                <span class="row"><span class="name d">Other</span>{{district.voters.other | toPercent}}%</span>

            </div>
        </div>
        <div class="profileChart voterGend">
            <canvas class="chart" width="160" height="160"></canvas>
            <div class="title">Voter<br>Gender</div>
            <div class="table">
                <span class="row"><span class="name d">Male</span>{{district.gender.m | toPercent}}%</span>
                <span class="row"><span class="name r">Female</span>{{district.gender.f | toPercent}}%</span>
            </div>
        </div>
        <br class="clear" />
    </div>
    <hr>
    <div class="row">
        <h1 class="sectionTitle">District Election Results</h1>
        <div class="electionContainer">
            <table class="titlesTable">
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td>Dem</td>
                </tr>
                <tr>
                    <td>Rep</td>
                </tr>
                <tr>
                    <td>Oth</td>
                </tr>
            </table>
            <div class="swipe">
                <table class="electionTable">
                    <tr class="headers">
                        <td ng-repeat="(name, results) in district.voting_results" valign="top">{{name}}</td>
                    </tr>
                    <tr>
                        <td ng-repeat="results in district.voting_results">{{results.d | toPercent | addPercent}}</td>
                    </tr>
                    <tr>
                        <td ng-repeat="results in district.voting_results">{{results.r | toPercent | addPercent}}</td>
                    </tr>
                    <tr>
                        <td ng-repeat="results in district.voting_results">{{results.l | toPercent | addPercent}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <span class="infoLine scrollButton left"><i class="fa fa-angle-left"></i> Scroll left</span>
        <span class="infoLine scrollButton">Scroll right <i class="fa fa-angle-right"></i></span>
        <span class="infoLine touch">Swipe to view more <i class="fa fa-angle-right"></i></span>
        <br class="clear" />
    </div>
    <hr>
    <div class="row footer" ng-swipe-right="goToPrev()" ng-swipe-left="goToNext()" ng-click="goToNext()">
        <span class="infoLine">Swipe screen or click here for next district <i class="fa fa-angle-right"></i></span>
    </div>
    <div class="credits">
        <span>District demographics obtained from N.C. Board of Elections 8/7/2012; statewide election results obtained from NCGA redistricting committee <span class="symbol">&copy;</span> 2014  NC FreeEnterprise Foundation</span>
    </div>
    </div>