<div class="list page">
    <div class="header">
        <h1 class="pageTitle">Candidates</h1>
        <div class="houses">
            <a href="" ng-class="{active:filters.type == 'ussenate'}" class="item" ng-click="filterCands('ussenate')"><span>US<br>Senate</span></a>
            <a href="" ng-class="{active:filters.type == 'congress'}" class="item" ng-click="filterCands('congress')"><span>US<br>House</span></a>
            <a href="" ng-class="{active:filters.type == 'senate'}" class="item" ng-click="filterCands('senate')"><span>NC<br>Senate</span></a>
            <a href="" ng-class="{active:filters.type == 'house'}" class="item" ng-click="filterCands('house')"><span>NC<br>House</span></a>
            <a href="" ng-class="{active:filters.type == 'judicial'}" class="item" ng-click="filterCands('judicial')"><span>NC Sup. Court</span></a>
            <a href="" ng-class="{active:filters.type == 'council'}" class="item" ng-click="filterCands('council')"><span>Council<br>of State</span></a>
        </div>
        <h2 class="instruction">Narrow by last name</h2>
        <div class="lastNames">
            <a href="" ng-class="{active:filters.range == 'A-D'}" class="item" ng-click="filterRange('A-D')">A - D</a>
            <span class="bar"></span>
            <a href="" ng-class="{active:filters.range == 'E-H'}" class="item" ng-click="filterRange('E-H')">E - H</a>
            <span class="bar"></span>
            <a href="" ng-class="{active:filters.range == 'I-L'}" class="item" ng-click="filterRange('I-L')">I - L</a>
            <span class="bar"></span>
            <a href="" ng-class="{active:filters.range == 'M-P'}" class="item" ng-click="filterRange('M-P')">M - P</a>
            <span class="bar"></span>
            <a href="" ng-class="{active:filters.range == 'Q-T'}" class="item" ng-click="filterRange('Q-T')">Q - T</a>
            <span class="bar"></span>
            <a href="" ng-class="{active:filters.range == 'U-Z'}" class="item" ng-click="filterRange('U-Z')">U - Z</a>
            <span class="bar"></span>
            <a href="" ng-class="{active:filters.range == null}" class="item" ng-click="clearName()">all</a>
        </div>
        <h2 class="instruction">Select a Candidate for more info</h2>
    </div>
    <div class="listWrap">
        <div class="item repeated-item" ng-repeat="candidate in candidates | filter:filters">
            <a ng-show="(candidate.type != 'judicial' && candidate.type != 'council')" href="{{linking.getCandidateLink(candidate.appid, candidate.type)}}">
                <div ng-style="candidate.small_profile" class="thumb"></div>
                <div class="cell">
                    <span class="name">{{candidate.name}}</span>
                    <span class="info">{{candidate.type | distName}} {{candidate.district | distType}}<br>{{candidate.aff}} {{candidate.incumbent | incumbency}}</span>
                </div>
            </a>
            <a ng-show="candidate.type == 'judicial'" href="{{linking.getCandidateLink(candidate.appid, candidate.type)}}">
                <div ng-style="candidate.small_profile" class="thumb"></div>
                <div class="cell">
                    <span class="name">{{candidate.name}}</span>
                    <span class="info">{{candidate.seat}} {{candidate.incumbent | incumbency}}</span>
                </div>
            </a>
            <a ng-show="candidate.type == 'council'" href="{{linking.getCandidateLink(candidate.appid, candidate.type)}}">
                <div ng-style="candidate.small_profile" class="thumb"></div>
                <div class="cell">
                    <span class="name">{{candidate.name}}</span>
                    <span class="info">{{candidate.office}} <br>{{candidate.aff}} {{candidate.incumbent | incumbency}}</span>
                </div>
            </a>
        </div>

        <br class="clear" />
    </div>
</div>