<div class="list page">
    <div class="header">
        <h1 class="pageTitle">NC Directory</h1>
        <div class="houses">
            <a href="" ng-class="{active:filters.type == 'us_congress, ussenate'}" class="item" ng-click="filters.type = 'us_congress, ussenate'"><span>US<br>Congress</span></a>
            <a href="" ng-class="{active:filters.type == 'senate'}" class="item" ng-click="filters.type = 'senate'"><span>NC<br>Senate</span></a>
            <a href="" ng-class="{active:filters.type == 'house'}" class="item" ng-click="filters.type = 'house'"><span>NC<br>House</span></a>
            <a href="" ng-class="{active:filters.type == 'cabinet'}" class="item" ng-click="filters.type = 'cabinet'"><span>NC<br>Exec Branch</span></a>
            <a href="" ng-class="{active:filters.type == 'judicial'}" class="item" ng-click="filters.type = 'judicial'"><span>NC<br>Courts</span></a>
            <a href="" ng-class="{active:filters.type == null}" class="item" ng-click="clearType()"><span>View<br>All</span></a>
        </div>
        <div class="searchBox">
            <input ng-model="query" class="search" type="text" />
            <span class="searchIcon"><i class="fa fa-search"></i></span>
        </div>
        <h2 class="instruction">Select a Directory Listing for more info</h2>
    </div>
    <div class="listWrap">
        <div class="item repeated-item" ng-repeat="listing in listings | filter:filterByType | filter:searchFields">
            <a href="{{linking.getDirLink(listing.type, listing.id)}}">
                <div ng-style="listing.small_profile" class="thumb"></div>
                <div class="cell">
                    <span class="name">{{listing.DirectoryName}}</span>
                    <span class="info">{{listing | dirName}}</span>
                </div>
            </a>
        </div>

        <br class="clear" />
    </div>
</div>