<div class="list page">
    <div class="header">
        <h1 class="pageTitle">Candidates for {{type | distName}} District {{district}}</h1>
        <h2 class="instruction">Select a Candidate for more info</h2>
    </div>
    <div class="listWrap">
        <div class="item repeated-item" ng-repeat="candidate in candidates | byDist:type:district">
            <a href="{{linking.getCandidateLink(candidate.appid, candidate.type)}}">
                <div ng-style="candidate.small_profile" class="thumb" ></div>
                <div class="cell">
                    <span class="name">{{candidate.name}}</span>
                    <span class="info">{{candidate.district | distName}} District {{candidate.district}}<br>{{candidate.aff}} {{candidate.incumbent | incumbency}}</span>
                </div>
            </a>
        </div>

        <br class="clear" />
    </div>
</div>