<div class="list page">
    <div ng-show="districts" class="header">
        <h1 class="pageTitle">{{type | distName}} Districts</h1>
        <h2 class="instruction">Select a district for more info</h2>
    </div>
    <div class="listWrap">
        <div ng-show="ussenate" class="item">
            <a ui-sref="ussenate">
                <div ng-style="ussenate.smallmap" class="thumb" ></div>
                <div class="cell">
                    <span>US Senate</span>
                </div>
            </a>
        </div>
        <div ng-show="type != 'judicial' && type != 'council'" ng-repeat="district in districts | filter:searchDistricts" class="item">
            <a href="{{linking.getDistrictLink(district.type, district.number)}}">
                <div ng-style="district.smallmap" class="thumb" ></div>
                <div class="cell">
                    <span>{{district.districtTitle}} District {{district.number}}</span>
                </div>

            </a>
        </div>
        <div ng-show="type === 'judicial'" ng-repeat="district in districts" class="item">
            <a href="{{linking.getJudicialLink(district.number)}}">
                <div ng-style="district.profile" class="thumb" ></div>
                <div class="cell">
                    <span>{{district.districtTitle}}</span>
                </div>

            </a>
        </div>
        <div ng-show="type === 'council'" ng-repeat="district in districts" class="item">
            <a href="{{linking.getCouncilLink(district.districtTitle)}}">
                <div ng-style="district.profile" class="thumb" ></div>
                <div class="cell">
                    <span>{{district.districtTitle}}</span>
                </div>

            </a>
        </div>
        <br class="clear" />
    </div>
</div>