<div class="page page_custom">
    <div class="header">
        <h1 class="pageTitle">{{page.title}}</h1>
    </div>
    <div class="row">
        <div class="infoP" ng-bind-html="content">
        </div>
    </div>
</div>