<div class="list page">
    <div class="header">
        <h1 class="pageTitle">Search All</h1>

        <div class="houses search">
            <h2 class="instruction">Search in:</h2>
            <br>
            <a href="" ng-class="{active:searchIn == 'candidates'}" class="item" ng-click="searchIn = (searchIn == 'candidates') ? '' : 'candidates'; searchField=''; query='';"><span>NC<br>Candidates</span></a>
            <a href="" ng-class="{active:searchIn == 'directory'}" class="item" ng-click="searchIn = (searchIn == 'directory') ? '' : 'directory'; searchField=''; query='';"><span>NC<br>Directory</span></a>
            <a href="" ng-class="{active:searchIn == 'judicial'}" class="item" ng-click="searchIn = (searchIn == 'judicial') ? '' : 'judicial'; searchField='districtTitle'; query='';"><span>NC Supreme<br>Court</span></a>
            <a href="" ng-class="{active:searchIn == 'senate'}" class="item" ng-click="searchIn = (searchIn == 'senate') ? '' : 'senate'; searchField=''; query='';"><span>NC Senate<br>Districts</span></a>
            <a href="" ng-class="{active:searchIn == 'house'}" class="item" ng-click="searchIn = (searchIn == 'house') ? '' : 'house'; searchField=''; query='';"><span>House<br>Districts</span></a>
            <a href="" ng-class="{active:searchIn == 'congress'}" class="item" ng-click="searchIn = (searchIn == 'congress') ? '' : 'congress'; searchField=''; query='';"><span>Congress<br>Districts</span></a>
            <hr>
        </div>

        <div class="houses search" ng-show="searchIn == 'candidates'">
            <h2 class="instruction">Search candidates by:</h2>
            <br>
            <a href="" ng-class="{active:searchField == 'name'}" class="item" ng-click="searchField = 'name'"><span>Candidate<br>Name</span></a>
            <a href="" ng-class="{active:searchField == 'aff'}" class="item" ng-click="searchField = 'aff'"><span>Candidate<br>Party</span></a>
            <hr>
        </div>

        <div class="houses search" ng-show="searchIn == 'directory'">
            <h2 class="instruction">Search directory by:</h2>
            <br>
            <a href="" ng-class="{active:searchField == 'DirectoryName'}" class="item" ng-click="searchField = 'DirectoryName'"><span>Directory<br>Name</span></a>
            <a href="" ng-class="{active:searchField == 'LeadershipPosition'}" class="item" ng-click="searchField = 'LeadershipPosition'"><span>Leadership<br>Position</span></a>
            <a href="" ng-class="{active:searchField == 'CommitteeAssignments'}" class="item" ng-click="searchField = 'CommitteeAssignments'"><span>Comittee<br>Assignments</span></a>
            <hr>
        </div>

        <div class="houses search" ng-show="searchIn == 'senate' || searchIn == 'house' || searchIn == 'congress'">
            <h2 class="instruction">Search districts by:</h2>
            <br>
            <a href="" ng-class="{active:searchField == 'county_info'}" class="item" ng-click="searchField = 'county_info'"><span>District<br>Counties</span></a>
            <a href="" ng-class="{active:searchField == 'number'}" class="item" ng-click="searchField = 'number'"><span>District<br>Number</span></a>
            <hr>
        </div>

        <div class="searchBox" ng-show="searchIn != '' && searchField != ''">
            <input ng-keypress="checkSearch($event)" ng-model="query" class="search" type="text" />
            <span class="searchIcon" ng-click="activeSearch = query" ng-show="query != ''"><i class="fa fa-search"></i></span>
            <br class="clear" />
            <h2 class="instruction">Select a Listing for more info</h2>
        </div>

    </div>

    <br class="clear" />

    <div class="listWrap" ng-show="searchIn == 'directory' && searchField == 'DirectoryName'">
        <div class="item repeated-item" ng-repeat="listing in listings | filter:searchAll">
            <a href="{{linking.getDirLink(listing.type, listing.id)}}">
                <div ng-style="listing.small_profile" class="thumb"></div>
                <div class="cell">
                    <span class="name">{{listing.DirectoryName}}</span>
                    <span class="info">{{listing | dirName}}</span>
                </div>
            </a>
        </div>

        <br class="clear" />
    </div>

    <div class="listWrap" ng-show="searchIn == 'directory' && searchField == 'LeadershipPosition'">
        <div class="item repeated-item" ng-repeat="listing in listings | filter:searchAll">
            <a href="{{linking.getDirLink(listing.type, listing.id)}}">
                <div ng-style="listing.small_profile" class="thumb"></div>
                <div class="cell">
                    <span class="name">{{listing.DirectoryName}}</span>
                    <span class="info">{{listing.LeadershipPosition}}</span>
                </div>
            </a>
        </div>

        <br class="clear" />
    </div>

    <div class="listWrap" ng-show="searchIn == 'directory' && searchField == 'CommitteeAssignments'">
        <div class="item repeated-item" ng-repeat="listing in listings | filter:searchAll">
            <a href="{{linking.getDirLink(listing.type, listing.id)}}">
                <div ng-style="listing.small_profile" class="thumb"></div>
                <div class="cell">
                    <span class="name">{{listing.DirectoryName}}</span>
                    <span class="info">{{listing.matchedCommittee}}</span>
                </div>
            </a>
        </div>

        <br class="clear" />
    </div>

    <div class="listWrap" ng-show="searchIn == 'candidates'">
        <div class="item repeated-item" ng-repeat="candidate in candidates | filter:searchAll">
            <a ng-show="candidate.type != 'judicial'" href="{{linking.getCandidateLink(candidate.appid, candidate.type)}}">
                <div ng-style="candidate.small_profile" class="thumb"></div>
                <div class="cell">
                    <span class="name">{{candidate.name}}</span>
                    <span class="info">{{candidate.type | distName}} District {{candidate.district}}<br>{{candidate.aff}} {{candidate.incumbent | incumbency}}</span>
                </div>
            </a>
            <a ng-show="candidate.type == 'judicial'" href="{{linking.getCandidateLink(candidate.appid, candidate.type)}}">
                <div ng-style="candidate.small_profile" class="thumb"></div>
                <div class="cell">
                    <span class="name">{{candidate.name}}</span>
                    <span class="info">{{candidate.seat}} {{candidate.incumbent | incumbency}}</span>
                </div>
            </a>
        </div>

        <br class="clear" />
    </div>

    <div class="listWrap" ng-show="searchIn == 'congress'">
        <div ng-repeat="district in congress | filter:searchAll" class="item">
            <a href="{{linking.getDistrictLink(district.type, district.number)}}">
                <div ng-style="district.smallmap" class="thumb" ></div>
                <div class="cell">
                    <span>{{district.districtTitle}} District {{district.number}}</span>
                </div>

            </a>
        </div>
        <br class="clear" />
    </div>

    <div class="listWrap" ng-show="searchIn == 'house'">
        <div ng-repeat="district in house | filter:searchAll" class="item">
            <a href="{{linking.getDistrictLink(district.type, district.number)}}">
                <div ng-style="district.smallmap" class="thumb" ></div>
                <div class="cell">
                    <span>{{district.districtTitle}} District {{district.number}}</span>
                </div>

            </a>
        </div>
        <br class="clear" />
    </div>

    <div class="listWrap" ng-show="searchIn == 'senate'">
        <div ng-repeat="district in senate | filter:searchAll" class="item">
            <a href="{{linking.getDistrictLink(district.type, district.number)}}">
                <div ng-style="district.smallmap" class="thumb" ></div>
                <div class="cell">
                    <span>{{district.districtTitle}} District {{district.number}}</span>
                </div>

            </a>
        </div>
        <br class="clear" />
    </div>

    <div class="listWrap" ng-show="searchIn == 'judicial'">
        <div ng-repeat="district in judicial | filter: searchAll" class="item">
            <a href="{{linking.getJudicialLink(district.number)}}">
                <div ng-style="district.profile" class="thumb" ></div>
                <div class="cell">
                    <span>{{district.districtTitle}}</span>
                </div>

            </a>
        </div>
        <br class="clear" />
    </div>

</div>