<div class="dist page ussenate">
<div class="row">
    <h1 class="sectionTitle">US Senate Candidates</h1>

    <div class="col two-thirds">
            <div ng-click="goToCand(candidate.type, candidate.appid)" ng-repeat="candidate in candidates" class="candInfo">
                <div class="candProfile" ng-style="candidate.profile"></div>
                <div class="details">
                    <span class="row"><h1 class="name">{{candidate.name}}</h1><span>{{candidate.aff}}</span></span>
                    <span class="row"><span class="third">{{candidate.occupation}}</span><span class="two-thirds">{{candidate.coh | toMoney}} (COH)</span></span>
                </div>
            </div>
    </div>
    <div class="col third">
        
    </div>
    <br class="clear" />
</div>
<hr>
<div class="row charts">
    <h1 class="sectionTitle">State Profile</h1>
    <div class="profileChart voterAff">
        <canvas class="chart" width="160" height="160"></canvas>
        <div class="title">Voter<br>Affiliation</div>
        <div class="table">
            <span class="row"><span class="name d">Democrat</span>{{district.registered.dem | toPercent}}%</span>
            <span class="row"><span class="name r">Republican</span>{{district.registered.rep | toPercent}}%</span>
            <span class="row"><span class="name u">Unaffiliated</span>{{district.registered.una | toPercent}}%</span>
            <span class="row"><span class="name l">Libertarian</span>{{district.registered.lib | toPercent}}%</span>
        </div>
    </div>
    <div class="profileChart voterRace">
        <canvas class="chart" width="160" height="160"></canvas>
        <div class="title">Voter<br>Race</div>
        <div class="table">
            <span class="row"><span class="name d">Black</span>{{district.voters.black | toPercent}}%</span>
            <span class="row"><span class="name r">White</span>{{district.voters.white | toPercent}}%</span>
            <span class="row"><span class="name u">Asian</span>{{district.voters.asian | toPercent}}%</span>
            <span class="row"><span class="name l">Hispanic</span>{{district.voters.hispanic | toPercent}}%</span>
            <span class="row"><span class="name d">Other</span>{{district.voters.other | toPercent}}%</span>

        </div>
    </div>
    <div class="profileChart voterGend">
        <canvas class="chart" width="160" height="160"></canvas>
        <div class="title">Voter<br>Gender</div>
        <div class="table">
            <span class="row"><span class="name d">Male</span>{{district.gender.m | toPercent}}%</span>
            <span class="row"><span class="name r">Female</span>{{district.gender.f | toPercent}}%</span>
        </div>
    </div>
    <br class="clear" />
</div>
<hr>
<div class="row">
    <h1 class="sectionTitle">State Election Results</h1>
    <div class="electionContainer">
        <table class="titlesTable">
            <tr>
                <td></td>
            </tr>
            <tr>
                <td>Dem</td>
            </tr>
            <tr>
                <td>Rep</td>
            </tr>
            <tr>
                <td>Oth</td>
            </tr>
        </table>
        <div class="swipe">
            <table class="electionTable">
                <tr class="headers">
                    <td ng-repeat="(name, results) in district.voting_results" valign="top">{{name}}</td>
                </tr>
                <tr>
                    <td ng-repeat="results in district.voting_results">{{results.d | toPercent | addPercent}}</td>
                </tr>
                <tr>
                    <td ng-repeat="results in district.voting_results">{{results.r | toPercent | addPercent}}</td>
                </tr>
                <tr>
                    <td ng-repeat="results in district.voting_results">{{results.l | toPercent | addPercent}}</td>
                </tr>
            </table>
        </div>
    </div>
    <span class="infoLine scrollButton left"><i class="fa fa-angle-left"></i> Scroll left</span>
    <span class="infoLine scrollButton">Scroll right <i class="fa fa-angle-right"></i></span>
    <span class="infoLine touch">Swipe to view more <i class="fa fa-angle-right"></i></span>
    <br class="clear" />
</div>
<hr>
<div class="credits">
    <span>District demographics obtained from N.C. Board of Elections 8/7/2012; statewide election results obtained from NCGA redistricting committee <span class="symbol">&copy;</span> 2014  NC FreeEnterprise Foundation</span>
</div>