<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" >
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/animations.css" />
    <title>NCFEF App</title>

    <!--JQUERY LIBS-->
    <script type="text/javascript" src="js/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/jquery/Chart.Core.js"></script>
    <script type="text/javascript" src="js/jquery/Chart.Doughnut.js"></script>
    <script type="text/javascript" src="js/jquery/amplify.min.js"></script>
    <script type="text/javascript" src="js/jquery/parsley-IEshim.js"></script>

    <!--OTHER LIBS-->
    <script type="text/javascript" src="js/taffy-min.js"></script>
    <script type="text/javascript" src="js/fastclick.js"></script>
    <script type="text/javascript" src="js/iscroll.js"></script>

    <!--ANGULAR LIBS-->
    <script src="js/angular/angular.min.js"></script>
    <script src="js/angular/angular-animate.min.js"></script>
    <script src="js/angular/angular-ui-router.min.js"></script>
    <script src="js/angular/angular-resource.min.js"></script>
    <script src="js/angular/angular-touch.js"></script>
    <script src="js/angular/angular-panhandler.js"></script>

    <!-- APP MODULES-->
    <script src="js/config.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/controllers/home.js"></script>
    <script src="js/controllers/candidateList.js"></script>
    <script src="js/controllers/candidateListDistrict.js"></script>
    <script src="js/controllers/candidate.js"></script>
    <script src="js/controllers/districtList.js"></script>
    <script src="js/controllers/district.js"></script>
    <script src="js/controllers/menu.js"></script>
    <script src="js/controllers/about.js"></script>
    <script src="js/controllers/directories.js"></script>
    <script src="js/controllers/directory.js"></script>
    <script src="js/controllers/cabinet.js"></script>
    <script src="js/controllers/ussenate.js"></script>
    <script src="js/controllers/judicialseat.js"></script>
    <script src="js/controllers/search.js"></script>
    <script src="js/controllers/council.js"></script>
    <script src="js/controllers/page.js"></script>

    <script src="js/directives/pinch.js"></script>

</head>

<body id="almanac">
    <div class="initialLoad"><div class="text"><img src="img/logo.png" class="logo"/></div><div class="spinner"></div></div>
	<div id="wrapper">

        <!--NAV MENU-->
		<div class="navWrapper">
			<div class="inner">
				<a ui-sref="home"><img src="img/logo.png" class="logo"/></a>
				<a id="menuToggle" href="#">menu <i class="fa fa-bars"></i></a>
                <!--OVERLAY BACKGROUND-->
                <div class="blur"></div>
                <nav class="mainMenu" ng-controller="menu">
                    <img class="closeButton" src="img/close_button.png" />
                    <div class="scroller scrollable">
                        <ul class="menu">
                            <li class="menuTitle active">Main Menu</li>
                            <li class="menuSubTitle"><i class="fa fa-angle-left"></i> Back to Main Menu</li>
                            <li ng-show="menu.districts_nchouse" class="menuItem"><a href="#">NC House Districts</a> <i class="fa fa-angle-right"></i>
                                <ul class="menu">
                                    <li ng-click="hideMenu()" ng-repeat="(name, district) in menu.districts_nchouse" class="menuItem"><a href="{{linking.getHouseLink(district.District)}}">District {{district.District}}</a></li>
                                </ul>
                            </li>
                            <li ng-show="menu.districts_ncsenate" class="menuItem"><a href="#">NC Senate Districts</a> <i class="fa fa-angle-right"></i>
                                <ul class="menu">
                                    <li ng-click="hideMenu()" ng-repeat="(name, district) in menu.districts_ncsenate" class="menuItem"><a href="{{linking.getSenateLink(district.District)}}">District {{district.District}}</a></li>
                                </ul>
                            </li>
                            <li ng-show="menu.judicial" class="menuItem"><a ui-sref="districts({districttype: 'judicial'})">NC Supreme Court</a> <i class="fa fa-angle-right"></i>
                            </li>
                            <li ng-show="menu.districts_congress" class="menuItem"><a href="#">US House Districts</a> <i class="fa fa-angle-right"></i>
                                <ul class="menu">
                                    <li ng-click="hideMenu()" ng-repeat="(name, district) in menu.districts_congress" class="menuItem"><a href="{{linking.getCongressLink(district.District)}}">District {{district.District}}</a></li>
                                </ul>
                            </li>
                            <li ng-show="menu.districts_ussenate" class="menuItem"><a ui-sref="ussenate">US Senate</a> <i class="fa fa-angle-right"></i>
                            </li>
                            <li ng-show="menu.districts_council" class="menuItem"><a href="#">Council of State</a> <i class="fa fa-angle-right"></i>
                                <ul class="menu">
                                    <li ng-click="hideMenu()" ng-repeat="(name, district) in menu.districts_council" class="menuItem"><a href="{{linking.getCouncilLink(district.Office)}}">{{district.Office}}</a></li>
                                </ul>
                            </li>
                            <li ng-show="menu.pages" ng-click="hideMenu()" ng-repeat="page in menu.pages" class="menuItem"><a ui-sref="page({ id: page.id })">{{page.title}}</a> <i class="fa fa-angle-right"></i>
                            </li>
                            <li ng-click="hideMenu()" ng-show="candidates" class="menuItem"><a ui-sref="candidates">Candidates</a> <i class="fa fa-angle-right"></i></li>
                            <li ng-click="hideMenu()" ng-show="menu.directories" class="menuItem"><a ui-sref="directories">Directory</a> <i class="fa fa-angle-right"></i></li>
                            <li ng-click="hideMenu()" class="menuItem"><a ui-sref="search">Search</a> <i class="fa fa-search"></i></li>
                            <li ng-click="hideMenu()" class="menuItem"><a ui-sref="about">About Us</a></li>
                            <li ng-click="hideMenu()" class="menuItem"><a ui-sref="contact">Connect with Us</a></li>
                            <li class="menuFooter">
                                <div class="copyright"><span class="symbol">&copy;</span>2014 North Carolina<br>Free Enterprise Foundation</div>
                                <div class="srg">
                                    <img src="img/srg_logo_menu.png"/>
                                </div>
                                <br class="clear" />
                            </li>
                        </ul>
                    </div>
                </nav>
			</div>
		</div>

        <!--MAIN VIEW AREA-->
        <div class="container">
            <div ui-view class="viewWrapper scrollable" autoscroll="false">
            </div>
        </div>

    </div>
    <script type="text/javascript" src="js/jquery/main.js"></script>
</body>
</html>